Repository openvinotoolkit/anomalib, pull requests merged in 2021-12, with the labels that each got.

#24 Address compatibility issues with OTE, that are caused by the legacy code.
  anomalib/core/model/inference.py
  anomalib/data/mvtec.py
  anomalib/data/transforms/pre_process.py
Labels: Enhancement

#31 Docs/dick/root readme
  README.md
  docs/anomalib.png
  docs/source/images/logos/anomalib-all.svg
  docs/source/images/logos/anomalib-icon.svg
  docs/source/images/logos/anomalib-vertical-text.svg
  docs/source/images/logos/anomalib-white.svg
  docs/source/images/logos/anomalib-wide.png
  docs/source/images/logos/anomalib-wide.svg
  docs/source/images/logos/anomalib.svg
Labels: Documentation, Ready for Review

#23 Add `wandb` logger
  .gitignore
  anomalib/core/callbacks/visualizer_callback.py
  anomalib/loggers/__init__.py
  anomalib/loggers/tensorboard.py
  anomalib/loggers/wandb.py
  requirements/requirements.txt
  tests/loggers/test_get_logger.py
Labels: Enhancement

#30 Add PR and Issue Templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: Enhancement, Ready for Review

#38 Limit parallel runners
  .github/workflows/tox.yml
  tox.ini
Labels: CI

#39 Address docs build failing issue
  .github/workflows/docs.yml
  README.md
Labels: CI

#41 Fix docs pipeline 📄
  .github/workflows/docs.yml
  .github/workflows/tox.yml
Labels: CI

#46 Fix Readmes
  README.md
  anomalib/models/dfkde/README.md
  anomalib/models/dfkde/config.yaml
  anomalib/models/dfkde/model.py
  anomalib/models/dfm/README.md
  anomalib/models/dfm/config.yaml
  anomalib/models/dfm/model.py
  anomalib/models/padim/README.md
  anomalib/models/patchcore/README.md
  anomalib/models/stfpm/README.md
  docs/source/images/padim/architecture.jpg
  docs/source/images/padim/results/0.png
  docs/source/images/padim/results/1.png
  docs/source/images/padim/results/2.png
  docs/source/images/patchcore/architecture.jpg
  docs/source/images/patchcore/results/0.png
  docs/source/images/patchcore/results/1.png
  docs/source/images/patchcore/results/2.png
  docs/source/images/readme.png
  docs/source/images/stfpm/architecture.jpg
  docs/source/images/stfpm/results/0.png
  docs/source/images/stfpm/results/1.png
  docs/source/images/stfpm/results/2.png
  docs/source/index.rst
  docs/source/research/benchmark.md
Labels: Enhancement

#22 Fix docstrings
  anomalib/config/config.py
  anomalib/core/callbacks/compress.py
  anomalib/core/callbacks/model_loader.py
  anomalib/core/callbacks/nncf_callback.py
  anomalib/core/callbacks/save_to_csv.py
  anomalib/core/callbacks/timer.py
  anomalib/core/callbacks/visualizer_callback.py
  anomalib/core/model/anomaly_module.py
  anomalib/core/model/feature_extractor.py
  anomalib/core/model/kde.py
  anomalib/core/model/multi_variate_gaussian.py
  anomalib/data/__init__.py
  anomalib/data/transforms/custom.py
  anomalib/data/utils.py
  anomalib/loggers/__init__.py
  anomalib/loggers/tensorboard.py
  anomalib/models/dfkde/config.yaml
  anomalib/models/dfkde/model.py
  anomalib/models/dfkde/normality_model.py
  anomalib/models/dfm/dfm_model.py
  anomalib/models/dfm/model.py
  anomalib/models/padim/model.py
  anomalib/models/patchcore/model.py
  anomalib/models/stfpm/model.py
  anomalib/utils/post_process.py
  anomalib/utils/visualizer.py
  docs/source/index.rst
  docs/source/models.rst
Labels: Documentation
