Repository openvinotoolkit/anomalib, pull requests merged in 2022-08, with the labels that each got.

#499 Add coverage
  .github/workflows/pre_merge.yml
  README.md
Labels: Docs

#496 🛠 Refactor Normalization
  anomalib/deploy/optimize.py
  anomalib/models/components/base/anomaly_module.py
  anomalib/utils/callbacks/cdf_normalization.py
  anomalib/utils/callbacks/min_max_normalization.py
  anomalib/utils/sweep/__init__.py
  anomalib/utils/sweep/helpers/__init__.py
  anomalib/utils/sweep/helpers/inference.py
  tests/helpers/inference.py
  tests/pre_merge/deploy/test_inferencer.py
  tools/benchmarking/benchmark.py
Labels: Callbacks, Inference, Tests, Benchmarking, HPO, Tools

#509 Enable generic exporting of a trained model to ONNX or OpenVINO IR
  anomalib/deploy/optimize.py
  anomalib/models/cflow/config.yaml
  anomalib/models/dfkde/config.yaml
  anomalib/models/dfm/config.yaml
  anomalib/models/draem/config.yaml
  anomalib/models/fastflow/config.yaml
  anomalib/models/ganomaly/config.yaml
  anomalib/models/padim/config.yaml
  anomalib/models/patchcore/config.yaml
  anomalib/models/reverse_distillation/config.yaml
  anomalib/models/stfpm/config.yaml
  anomalib/utils/callbacks/__init__.py
  anomalib/utils/callbacks/export.py
  anomalib/utils/cli/cli.py
  tests/pre_merge/deploy/test_inferencer.py
  tests/pre_merge/utils/callbacks/export_callback/__init__.py
  tests/pre_merge/utils/callbacks/export_callback/dummy_config.yml
  tests/pre_merge/utils/callbacks/export_callback/dummy_lightning_model.py
  tests/pre_merge/utils/callbacks/export_callback/test_export.py
  tests/pre_merge/utils/callbacks/openvino_callback/test_openvino.py
  tools/benchmarking/utils/convert.py
Labels: Callbacks, CLI, Inference, Tests, Benchmarking, Tools

#515 Updated documentation to add examples for exporting model
  README.md
Labels: Docs

#516 Ignore pixel metrics in classification task
  anomalib/utils/callbacks/__init__.py
  anomalib/utils/callbacks/metrics_configuration.py
  anomalib/utils/cli/cli.py
Labels: Callbacks, CLI

#521 Update export documentation
  docs/source/guides/export.rst
Labels: Docs

#527 Reset adaptive threshold between epochs
  anomalib/models/components/base/anomaly_module.py
  anomalib/utils/metrics/adaptive_threshold.py
Labels: Metrics

#508 Add PRO metric
  anomalib/utils/metrics/__init__.py
  anomalib/utils/metrics/aupro.py
  anomalib/utils/metrics/pro.py
  tests/pre_merge/utils/metrics/test_aupro.py
  tests/pre_merge/utils/metrics/test_pro.py
Labels: Metrics, Tests
