Repository openvinotoolkit/anomalib, pull requests merged in 2022-04, with the labels that each got.

#172 Dockerfile enhancements
  Dockerfile
Labels: Docker Dev

#168 Separate train and validation transformations
  anomalib/data/__init__.py
  anomalib/data/btech.py
  anomalib/data/folder.py
  anomalib/data/mvtec.py
  anomalib/models/cflow/config.yaml
  anomalib/models/dfkde/config.yaml
  anomalib/models/dfm/config.yaml
  anomalib/models/ganomaly/config.yaml
  anomalib/models/padim/config.yaml
  anomalib/models/patchcore/config.yaml
  anomalib/models/stfpm/config.yaml
Labels: Enhancement, Pre-Processing

#201 🔄 CFlow: Switch soft permutation to false by default to speed up training.
  anomalib/models/cflow/backbone.py
  anomalib/models/cflow/config.yaml
  anomalib/models/cflow/model.py
Labels: Enhancement, Model

#174 Remove `freia` as dependency and include it in `anomalib/models/components`
  .pre-commit-config.yaml
  anomalib/models/cflow/backbone.py
  anomalib/models/components/freia/README.md
  anomalib/models/components/freia/__init__.py
  anomalib/models/components/freia/framework/__init__.py
  anomalib/models/components/freia/framework/sequence_inn.py
  anomalib/models/components/freia/modules/__init__.py
  anomalib/models/components/freia/modules/all_in_one_block.py
  anomalib/models/components/freia/modules/base.py
  requirements/base.txt
  requirements/openvino.txt
  third-party-programs.txt
  tox.ini
Labels: Package

#178 Visualizer show classification and segmentation
  anomalib/post_processing/visualizer.py
  anomalib/utils/callbacks/__init__.py
  anomalib/utils/callbacks/visualizer_callback.py
  tests/pre_merge/utils/callbacks/openvino_callback/dummy_lightning_model.py
  tests/pre_merge/utils/callbacks/visualizer_callback/dummy_lightning_model.py
Labels: Enhancement, Callbacks

#210 ✨ Directory streaming
  tools/inference.py
Labels: Enhancement

#217 Updated documentation for development on Docker
  docs/source/guides/developing_on_docker.rst
Labels: Enhancement, Docker Dev

#158 WIP Fix/m1 mac
  anomalib/deploy/inferencers/openvino.py
  anomalib/models/padim/model.py
  anomalib/models/patchcore/model.py
  requirements/base.txt
Labels: Setup

#222 [Hotfix] - Set tiling off in pathcore to correctly reproduce the stats.
  anomalib/models/patchcore/config.yaml
Labels: Bug, Model

#204 🐞fix support for non-square images
  anomalib/data/utils/image.py
  anomalib/models/ganomaly/model.py
  anomalib/models/ganomaly/torch_model.py
Labels: Bug

#223 Bump the version to 0.2.6
  CITATION.cff
  README.md
  anomalib/__init__.py
  setup.py
Labels: Version

#221 Fix inconsistent benchmarking throughput/time
  anomalib/utils/callbacks/timer.py
  tools/benchmarking/benchmark.py
Labels: Bug

#229 🛠 Fix `get_version` in `setup.py` to avoid hard-coding version.
  setup.py
Labels: Enhancement, Version

#233 🐞 Fix image loggers
  anomalib/utils/callbacks/visualizer_callback.py
  anomalib/utils/loggers/wandb.py
Labels: Enhancement, Logger

#230 Configurable metrics
  anomalib/models/cflow/config.yaml
  anomalib/models/components/base/anomaly_module.py
  anomalib/models/dfkde/config.yaml
  anomalib/models/dfm/config.yaml
  anomalib/models/ganomaly/config.yaml
  anomalib/models/padim/config.yaml
  anomalib/models/patchcore/config.yaml
  anomalib/models/stfpm/config.yaml
  anomalib/utils/callbacks/cdf_normalization.py
  anomalib/utils/callbacks/min_max_normalization.py
  anomalib/utils/callbacks/visualizer_callback.py
  anomalib/utils/metrics/__init__.py
  anomalib/utils/metrics/collection.py
  requirements/base.txt
  tests/pre_merge/utils/callbacks/normalization_callback/test_normalization_callback.py
  tests/pre_merge/utils/callbacks/visualizer_callback/test_visualizer.py
  tests/pre_merge/utils/metrics/test_adaptive_threshold.py
Labels: Enhancement, Metrics, Do not Merge

#239 Make OpenVINO throughput optional in benchmarking
  tools/benchmarking/benchmark.py
  tools/benchmarking/benchmark_params.yaml
Labels: Enhancement

#245 🔨 Minor fix: Ensure docs build runs only on isea-server
  .github/workflows/docs.yml
Labels: CI

#242 Add segmentation mask to inference output
  anomalib/deploy/inferencers/base.py
  tools/inference.py
Labels: Enhancement

#272 🔧 Properly assign values to dataframe in folder dataset.
  anomalib/data/folder.py
Labels: Enhancement, Data

#274 ➕Add warnings ⚠️ for inproper task setting in config files.
  anomalib/data/folder.py
  anomalib/utils/callbacks/visualizer_callback.py
Labels: Enhancement, Callbacks, Data

#284 ✨ Add hash check to data download
  anomalib/data/btech.py
  anomalib/data/mvtec.py
  anomalib/data/utils/__init__.py
  anomalib/data/utils/download.py
Labels: Enhancement, Data

#283 Add Gradio
  requirements/base.txt
  tools/inference_gradio.py
Labels: Enhancement
