Repository openvinotoolkit/anomalib, pull requests merged in 2022-10, with the labels that each got.

#623 Update README.md
  README.md
Labels: Docs

#629 add deprecation warning to denormalize class
  anomalib/pre_processing/transforms/custom.py
Labels: Pre-Processing

#636 Create meta_data.json with ONNX export as well as OpenVINO export
  anomalib/deploy/optimize.py
Labels: Inference

#639 🐞 Address docs build
  .ci/cuda10.2.Dockerfile
  .ci/cuda11.4.Dockerfile
  requirements/docs.txt
Labels: Dependencies

#654 Release v0.3.7
  CHANGELOG.md
  anomalib/__init__.py
Labels: Docs

#572 New datamodules design
  anomalib/config/config.py
  anomalib/data/__init__.py
  anomalib/data/base/__init__.py
  anomalib/data/base/datamodule.py
  anomalib/data/base/dataset.py
  anomalib/data/btech.py
  anomalib/data/folder.py
  anomalib/data/mvtec.py
  anomalib/data/utils/__init__.py
  anomalib/data/utils/split.py
  anomalib/deploy/inferencers/openvino_inferencer.py
  anomalib/deploy/inferencers/torch_inferencer.py
  anomalib/models/cflow/config.yaml
  anomalib/models/dfkde/config.yaml
  anomalib/models/dfm/config.yaml
  anomalib/models/draem/config.yaml
  anomalib/models/fastflow/config.yaml
  anomalib/models/ganomaly/config.yaml
  anomalib/models/padim/config.yaml
  anomalib/models/patchcore/config.yaml
  anomalib/models/reverse_distillation/config.yaml
  anomalib/models/stfpm/config.yaml
  anomalib/utils/metrics/anomaly_score_threshold.py
  docs/source/how_to_guides/train_custom_data.rst
  tests/pre_merge/datasets/test_datamodule.py
  tests/pre_merge/datasets/test_dataset.py
  tests/pre_merge/utils/metrics/test_adaptive_threshold.py
  tools/test.py
  tools/train.py
Labels: Metrics, Data, Config, Inference, Tests, Docs, Tools
