Repository openvinotoolkit/anomalib, pull requests merged in 2022-09, with the labels that each got.

#531 Set full_state_update attribute in custom metrics
  anomalib/utils/metrics/min_max.py
  anomalib/utils/metrics/optimal_f1.py
  requirements/base.txt
Labels: Metrics, Dependencies

#517 Feature/comet logging
  README.md
  anomalib/models/cflow/config.yaml
  anomalib/models/dfkde/config.yaml
  anomalib/models/dfm/config.yaml
  anomalib/models/draem/config.yaml
  anomalib/models/fastflow/config.yaml
  anomalib/models/ganomaly/config.yaml
  anomalib/models/padim/config.yaml
  anomalib/models/patchcore/config.yaml
  anomalib/models/reverse_distillation/config.yaml
  anomalib/models/stfpm/config.yaml
  anomalib/utils/callbacks/graph.py
  anomalib/utils/loggers/__init__.py
  anomalib/utils/loggers/comet.py
  docs/blog/001-train-custom-dataset/README.md
  docs/source/guides/logging.rst
  docs/source/images/logging/comet_graph.png
  docs/source/images/logging/comet_media.png
  requirements/base.txt
  tests/pre_merge/utils/loggers/test_get_logger.py
Labels: Callbacks, Dependencies, Logger, Tests, Docs

#535 🐞 Fix linting issues
  anomalib/utils/callbacks/graph.py
  anomalib/utils/loggers/__init__.py
  anomalib/utils/loggers/comet.py
  docs/blog/001-train-custom-dataset/README.md
  tests/pre_merge/utils/loggers/test_get_logger.py
Labels: Callbacks, Logger, Tests, Docs

#545 Benchmarking tool with Comet
  docs/source/guides/benchmarking.rst
  tools/benchmarking/benchmark.py
  tools/benchmarking/utils/__init__.py
  tools/benchmarking/utils/metrics.py
Labels: Docs, Benchmarking, Tools

#562 Add map_location when loading the weights
  anomalib/utils/callbacks/model_loader.py
Labels: Callbacks

#565 Add patchcore to openvino export test + upgrade lightning
  requirements/base.txt
  tests/pre_merge/deploy/test_inferencer.py
Labels: Dependencies, Tests

#567 🐞 Fix category check for folder dataset in anomalib CLI
  anomalib/utils/cli/cli.py
  configs/model/fastflow.yaml
Labels: CLI

#570 Refactor `PreProcessor` and fix `Visualizer` denormalization issue.
  anomalib/data/utils/__init__.py
  anomalib/data/utils/image.py
  anomalib/post_processing/visualizer.py
  anomalib/pre_processing/pre_process.py
  tests/pre_merge/utils/callbacks/visualizer_callback/dummy_lightning_model.py
  tests/pre_merge/utils/callbacks/visualizer_callback/test_visualizer.py
Labels: Data, Pre-Processing, Post-Processing, Tests

#571 🔨 Check for successful openvino conversion
  anomalib/deploy/optimize.py
Labels: Inference

#563 Comet HPO
  docs/source/guides/hyperparameter_optimization.rst
  docs/source/guides/logging.rst
  docs/source/images/logging/comet_sweep.png
  tools/hpo/configs/comet_sweep.yaml
  tools/hpo/configs/wandb_sweep.yaml
  tools/hpo/sweep.py
Labels: Docs, HPO, Tools

#587 Minor refactor
  anomalib/models/patchcore/anomaly_map.py
  anomalib/models/patchcore/lightning_model.py
  anomalib/models/patchcore/torch_model.py
  docs/source/tutorials/hyperparameter_optimization.rst
  tools/hpo/configs/comet.yaml
  tools/hpo/configs/wandb.yaml
  tools/hpo/sweep.py
Labels: Docs, HPO, Tools

#592 ✨ Add notebook for hpo
  docs/source/how_to_guides/index.rst
  notebooks/300_benchmarking/302_hpo_wandb.ipynb
  notebooks/README.md
Labels: Docs, Notebooks

#597 🐞 Fix comet HPO
  anomalib/utils/hpo/__init__.py
  anomalib/utils/hpo/config.py
  anomalib/utils/hpo/runners.py
  anomalib/utils/sweep/helpers/callbacks.py
  tools/hpo/sweep.py
Labels: HPO, Tools

#595 ✨ Replace keys from benchmarking script
  anomalib/utils/sweep/config.py
  docs/source/tutorials/benchmarking.rst
  tests/pre_merge/utils/sweep/__init__.py
  tests/pre_merge/utils/sweep/test_config.py
Labels: Tests, Docs, HPO
