Repository openvinotoolkit/anomalib, pull requests merged in 2022-06, with the labels that each got.

#345 🚀 Set pylint version in tox.ini
  tox.ini
Labels: CI

#346 Add metrics configuration callback to benchmarking
  anomalib/utils/sweep/helpers/callbacks.py
  tools/benchmarking/benchmark.py
Labels: Benchmark

#364 🚜 Refactor loss computation
  anomalib/models/cflow/lightning_model.py
  anomalib/models/fastflow/__init__.py
  anomalib/models/fastflow/lightning_model.py
  anomalib/models/fastflow/loss.py
  anomalib/models/fastflow/torch_model.py
  anomalib/models/ganomaly/config.yaml
  anomalib/models/ganomaly/lightning_model.py
  anomalib/models/ganomaly/loss.py
  anomalib/models/ganomaly/torch_model.py
  anomalib/models/stfpm/lightning_model.py
  anomalib/models/stfpm/loss.py
  anomalib/models/stfpm/torch_model.py
Labels: Refactor, Model

#357 📚 Add datamodule jupyter notebooks.
  .pre-commit-config.yaml
  notebooks/001-getting-started/001-getting-started.ipynb
  notebooks/001_getting_started/001_getting_started.ipynb
  notebooks/002_datamodules/002_btech.ipynb
  notebooks/002_datamodules/002_folder.ipynb
  notebooks/002_datamodules/002_mvtec.ipynb
  notebooks/002_datamodules/README.md
  pyproject.toml
  requirements/dev.txt
  tox.ini
Labels: Documentation

#353 📝 Add benchmarking notebook
  .github/workflows/pre_merge.yml
  notebooks/000_getting_started/001_getting_started.ipynb
  notebooks/100_datamodules/101_btech.ipynb
  notebooks/100_datamodules/102_mvtec.ipynb
  notebooks/100_datamodules/103_folder.ipynb
  notebooks/100_datamodules/README.md
  notebooks/200_benchmarking/201_benchmarking.ipynb
  notebooks/README.md
Labels: Documentation

#387 🛠 Fix configs to remove logging heatmaps from classification models.
  anomalib/models/dfkde/config.yaml
  anomalib/models/dfm/config.yaml
  anomalib/models/ganomaly/config.yaml
Labels: Bug, Model
