Repository openvinotoolkit/anomalib, pull requests merged in 2022-11, with the labels that each got.

#633 Optimized anomaly score calculation for PatchCore for both num_neighb…
  anomalib/data/utils/generators/perlin.py
  anomalib/models/cflow/utils.py
  anomalib/models/components/dimensionality_reduction/random_projection.py
  anomalib/models/components/stats/kde.py
  anomalib/models/fastflow/anomaly_map.py
  anomalib/models/fastflow/loss.py
  anomalib/models/ganomaly/torch_model.py
  anomalib/models/patchcore/config.yaml
  anomalib/models/patchcore/torch_model.py
Labels: Data

#666 Fix `black` formatting issues.
  anomalib/data/utils/generators/perlin.py
  anomalib/models/cflow/utils.py
  anomalib/models/components/dimensionality_reduction/random_projection.py
  anomalib/models/components/stats/kde.py
  anomalib/models/fastflow/anomaly_map.py
  anomalib/models/fastflow/loss.py
  anomalib/models/ganomaly/torch_model.py
  anomalib/models/patchcore/torch_model.py
Labels: Data

#674 Update dfm results
  README.md
  anomalib/models/dfm/README.md
  anomalib/models/dfm/config.yaml
  docs/source/research/benchmark.md
Labels: Docs

#672 Update pre-commit links and some other minor fixes
  .github/pull_request_template.md
  CONTRIBUTING.md
  docs/source/index.rst
Labels: CI, Docs

#667 Fix >100% confidence issue for OpenVINO inference
  anomalib/deploy/inferencers/base_inferencer.py
  anomalib/deploy/inferencers/openvino_inferencer.py
  anomalib/deploy/inferencers/torch_inferencer.py
  tests/pre_merge/deploy/test_inferencer.py
Labels: Inference, Tests

#660 correct folder mask path
  anomalib/data/folder.py
Labels: Data

#601 🐞 Add device flag
  anomalib/deploy/inferencers/torch_inferencer.py
  anomalib/utils/sweep/helpers/inference.py
  tests/pre_merge/deploy/test_inferencer.py
  tools/benchmarking/benchmark.py
  tools/inference/torch_inference.py
Labels: Inference, Tests, Benchmarking, HPO, Tools

#661 add `unique_dir` option to `config.project` (for script `tools/train.py`)
  anomalib/config/config.py
Labels: Config

#688 add option to load metrics with kwargs
  anomalib/utils/callbacks/__init__.py
  anomalib/utils/callbacks/metrics_configuration.py
  anomalib/utils/metrics/__init__.py
  docs/source/reference_guide/api/metrics.rst
  tests/helpers/dummy.py
  tests/helpers/metrics.py
  tests/pre_merge/utils/callbacks/metrics_configuration_callback/__init__.py
  tests/pre_merge/utils/callbacks/metrics_configuration_callback/data/config-good-00.yaml
  tests/pre_merge/utils/callbacks/metrics_configuration_callback/data/config-good-01.yaml
  tests/pre_merge/utils/callbacks/metrics_configuration_callback/test_metrics_configuration_callback.py
  tests/pre_merge/utils/callbacks/visualizer_callback/dummy_lightning_model.py
  tests/pre_merge/utils/callbacks/visualizer_callback/test_visualizer.py
Labels: Metrics, Callbacks, Tests, Docs

#664 padim arguments improvements
  anomalib/models/components/feature_extractors/__init__.py
  anomalib/models/components/feature_extractors/utils.py
  anomalib/models/padim/lightning_model.py
  anomalib/models/padim/torch_model.py
  tests/pre_merge/models/test_feature_extractor.py
Labels: Tests

#695 make it possible to use tox pre_merge to test single file
  tox.ini
Labels: CI, Setup

#676 Video Datamodules
  anomalib/config/config.py
  anomalib/data/__init__.py
  anomalib/data/avenue.py
  anomalib/data/base/__init__.py
  anomalib/data/base/dataset.py
  anomalib/data/base/video.py
  anomalib/data/ucsd_ped.py
  anomalib/data/utils/split.py
  anomalib/data/utils/video.py
  anomalib/post_processing/visualizer.py
  anomalib/utils/callbacks/visualizer/visualizer_image.py
  requirements/base.txt
  tests/pre_merge/datasets/test_datamodule.py
  tests/pre_merge/datasets/test_video.py
  tools/train.py
Labels: Callbacks, Dependencies, Data, Config, Post-Processing, Tests, Tools

#708 🐞 Fix folder dataset for classification tasks
  anomalib/data/folder.py
Labels: Data

#712 Add tiling notebook
  docs/source/how_to_guides/index.rst
  notebooks/100_datamodules/104_tiling.ipynb
Labels: Docs, Notebooks

#675 ✨ Add torchfx feature extractor
  anomalib/models/components/__init__.py
  anomalib/models/components/feature_extractors/__init__.py
  anomalib/models/components/feature_extractors/timm.py
  anomalib/models/components/feature_extractors/torchfx.py
  anomalib/models/components/feature_extractors/utils.py
  anomalib/models/dfkde/torch_model.py
  anomalib/models/stfpm/loss.py
  tests/helpers/dummy.py
  tests/pre_merge/models/test_feature_extractor.py
  tests/pre_merge/utils/callbacks/export_callback/dummy_lightning_model.py
  tools/train.py
Labels: Tests, Tools

#738 Migrate markdownlint + issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .markdownlint.yaml
  .mdlrc
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  anomalib/models/fastflow/README.md
  markdownlint.rb
Labels: CI, Setup, Docs

#740 Improve NNCF initilization
  anomalib/utils/callbacks/nncf/callback.py
Labels: Callbacks
