Repository openvinotoolkit/anomalib, pull requests merged in 2022-02, with the labels that each got.

#70 ✨ Add GANomaly
  README.md
  anomalib/models/__init__.py
  anomalib/models/ganomaly/README.md
  anomalib/models/ganomaly/__init__.py
  anomalib/models/ganomaly/config.yaml
  anomalib/models/ganomaly/model.py
  anomalib/models/ganomaly/torch_model.py
  docs/source/images/ganomaly/architecture.jpg
  docs/source/models.rst
  tests/models/test_model.py
  tox.ini
Labels: Ready for Review, Algorithm

#55 Bump up the pytorch lightning to master branch due to vulnurability issues
  anomalib/core/callbacks/cdf_normalization.py
  anomalib/core/callbacks/nncf_callback.py
  anomalib/core/model/anomaly_module.py
  anomalib/data/__init__.py
  anomalib/data/inference.py
  anomalib/data/mvtec.py
  anomalib/data/utils.py
  anomalib/models/cflow/config.yaml
  anomalib/models/dfkde/config.yaml
  anomalib/models/dfkde/model.py
  anomalib/models/dfm/config.yaml
  anomalib/models/dfm/model.py
  anomalib/models/ganomaly/config.yaml
  anomalib/models/padim/config.yaml
  anomalib/models/padim/model.py
  anomalib/models/patchcore/config.yaml
  anomalib/models/patchcore/model.py
  anomalib/models/stfpm/config.yaml
  requirements/base.txt
  tests/core/callbacks/normalization_callback/test_normalization_callback.py
  tests/models/test_model.py
Labels: Bug, Ready for Review, Security

#66 🚀 CI: Nightly Build
  .github/pull_request_template.md
  .github/workflows/nightly.yml
  .github/workflows/pre_merge.yml
  anomalib/loggers/wandb.py
  anomalib/utils/hpo/__init__.py
  anomalib/utils/hpo/config.py
  pyproject.toml
  requirements/base.txt
  tests/helpers/dataset.py
  tests/helpers/model.py
  tests/models/test_model.py
  tests/nightly/deploy/__init__.py
  tests/nightly/deploy/test_inferencer.py
  tests/nightly/models/__init__.py
  tests/nightly/models/performance_thresholds.yaml
  tests/nightly/models/test_model_nightly.py
  tests/pre_merge/__init__.py
  tests/pre_merge/config/__init__.py
  tests/pre_merge/config/test_config.py
  tests/pre_merge/datasets/__init__.py
  tests/pre_merge/datasets/dummy_config.yml
  tests/pre_merge/datasets/test_dataset.py
  tests/pre_merge/datasets/test_tiler.py
  tests/pre_merge/datasets/test_transforms.py
  tests/pre_merge/loggers/__init__.py
  tests/pre_merge/loggers/test_get_logger.py
  tests/pre_merge/models/__init__.py
  tests/pre_merge/models/test_model_premerge.py
  tests/pre_merge/utils/__init__.py
  tests/pre_merge/utils/callbacks/compress_callback/__init__.py
  tests/pre_merge/utils/callbacks/compress_callback/dummy_config.yml
  tests/pre_merge/utils/callbacks/compress_callback/dummy_lightning_model.py
  tests/pre_merge/utils/callbacks/compress_callback/test_compress.py
  tests/pre_merge/utils/callbacks/normalization_callback/__init__.py
  tests/pre_merge/utils/callbacks/normalization_callback/test_normalization_callback.py
  tests/pre_merge/utils/callbacks/visualizer_callback/__init__.py
  tests/pre_merge/utils/callbacks/visualizer_callback/dummy_lightning_model.py
  tests/pre_merge/utils/callbacks/visualizer_callback/test_visualizer.py
  tests/pre_merge/utils/test_download_progress_bar.py
  tox.ini
Labels: CI

#101 Refactor data and add @DATAMODULE_REGISTRY
  anomalib/data/__init__.py
  anomalib/data/mvtec.py
  tests/pre_merge/datasets/test_dataset.py
Labels: Enhancement, Refactor

#100 🐞 Fix tensor detach and gpu count issues in benchmarking script
  anomalib/utils/sweep/helpers/inference.py
  tools/benchmarking/benchmark.py
Labels: Bug
