Repository openvinotoolkit/anomalib, pull requests merged in 2022-01, with the labels that each got.

#51 Change hardcoded dataset path to environ variable
  .github/workflows/tox.yml
  tests/helpers/dataset.py
  tox.ini
Labels: CI

#47 Added cflow algorithm
  anomalib/core/callbacks/min_max_normalization.py
  anomalib/core/model/anomaly_module.py
  anomalib/core/model/feature_extractor.py
  anomalib/models/__init__.py
  anomalib/models/cflow/README.md
  anomalib/models/cflow/__init__.py
  anomalib/models/cflow/backbone.py
  anomalib/models/cflow/config.yaml
  anomalib/models/cflow/model.py
  requirements/base.txt
  tests/core/callbacks/normalization_callback/test_normalization_callback.py
  tests/models/test_model.py
Labels: Ready for Review, Algorithm

#68 Updated readme for cflow and change default config to reflect results
  README.md
  anomalib/models/cflow/README.md
  anomalib/models/cflow/config.yaml
  docs/source/images/cflow/architecture.jpg
  docs/source/images/cflow/results/0.png
  docs/source/images/cflow/results/1.png
  docs/source/images/cflow/results/2.png
Labels: Ready for Review

#73 Updated coreset subsampling method to improve accuracy
  README.md
  anomalib/models/patchcore/README.md
  anomalib/models/patchcore/config.yaml
  anomalib/models/patchcore/model.py
  anomalib/models/patchcore/utils/__init__.py
  anomalib/models/patchcore/utils/sampling/__init__.py
  anomalib/models/patchcore/utils/sampling/k_center_greedy.py
  anomalib/models/patchcore/utils/sampling/nearest_neighbors.py
  anomalib/models/patchcore/utils/sampling/random_projection.py
Labels: Bug

#76 Replace `SupportIndex` with `int`
  anomalib/data/tiler.py
Labels: Enhancement

#77 Fix Mix Data type issue on inferencer
  anomalib/deploy/inferencers/torch.py
  anomalib/models/cflow/README.md
Labels: Bug, Ready for Review

#86 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Labels: Ready for Review
