Repository openvinotoolkit/anomalib, pull requests merged in 2022-12, with the labels that each got.

#754 🚨 Fix torchmetrics version
  requirements/base.txt
Labels: Dependencies

#755 make device configurable in OpenVINO inference
  anomalib/deploy/inferencers/openvino_inferencer.py
  docs/source/tutorials/inference.rst
  tools/inference/openvino_inference.py
Labels: Inference, Docs, Tools

#760 make val split ratio configurable
  anomalib/config/config.py
  anomalib/data/__init__.py
  anomalib/data/avenue.py
  anomalib/data/base/datamodule.py
  anomalib/data/btech.py
  anomalib/data/folder.py
  anomalib/data/mvtec.py
  anomalib/data/ucsd_ped.py
  anomalib/models/cflow/config.yaml
  anomalib/models/dfkde/config.yaml
  anomalib/models/dfm/config.yaml
  anomalib/models/draem/config.yaml
  anomalib/models/fastflow/config.yaml
  anomalib/models/ganomaly/config.yaml
  anomalib/models/padim/config.yaml
  anomalib/models/patchcore/config.yaml
  anomalib/models/reverse_distillation/config.yaml
  anomalib/models/stfpm/config.yaml
  tests/pre_merge/datasets/test_datamodule.py
Labels: Data, Config, Tests

#764 [Datamodules] Update deprecation messages
  anomalib/config/config.py
Labels: Config

#766 Fix zero seed
  anomalib/config/config.py
  tools/hpo/sweep.py
  tools/train.py
Labels: Config, HPO, Tools

#769 Rename feature to task
  .github/ISSUE_TEMPLATE/task.yaml
Labels: CI

#768 Add section for community project
  README.md
Labels: Docs

#778 Update development instructions
  CONTRIBUTING.md
  docs/source/developer_guide/pre_commit_hooks.rst
Labels: Docs

#709 Add NNCF notebook to both `notebooks` and `docs`
  docs/source/how_to_guides/index.rst
  notebooks/400_openvino/nncf.ipynb
Labels: Docs, Notebooks

#784 Improve image source parsing for Folder dataset
  anomalib/config/config.py
  anomalib/data/__init__.py
  anomalib/data/folder.py
  anomalib/models/cflow/config.yaml
  anomalib/models/dfkde/config.yaml
  anomalib/models/dfm/config.yaml
  anomalib/models/draem/config.yaml
  anomalib/models/fastflow/config.yaml
  anomalib/models/ganomaly/config.yaml
  anomalib/models/padim/config.yaml
  anomalib/models/patchcore/config.yaml
  anomalib/models/reverse_distillation/config.yaml
  anomalib/models/stfpm/config.yaml
  docs/source/how_to_guides/train_custom_data.rst
  tests/pre_merge/datasets/test_datamodule.py
Labels: Data, Config, Tests, Docs

#774 Allow setting manual threshold in PL inference
  anomalib/utils/callbacks/__init__.py
  anomalib/utils/callbacks/model_loader.py
  docs/source/tutorials/inference.rst
Labels: Callbacks, Docs

#634 Synthetic anomaly for testing and validation
  anomalib/data/__init__.py
  anomalib/data/avenue.py
  anomalib/data/base/__init__.py
  anomalib/data/base/datamodule.py
  anomalib/data/base/video.py
  anomalib/data/btech.py
  anomalib/data/folder.py
  anomalib/data/mvtec.py
  anomalib/data/synthetic.py
  anomalib/data/ucsd_ped.py
  anomalib/data/utils/__init__.py
  anomalib/data/utils/augmenter.py
  anomalib/data/utils/split.py
  anomalib/models/cflow/config.yaml
  anomalib/models/dfkde/config.yaml
  anomalib/models/dfm/config.yaml
  anomalib/models/draem/config.yaml
  anomalib/models/draem/lightning_model.py
  anomalib/models/draem/utils/__init__.py
  anomalib/models/fastflow/config.yaml
  anomalib/models/ganomaly/config.yaml
  anomalib/models/padim/config.yaml
  anomalib/models/patchcore/config.yaml
  anomalib/models/reverse_distillation/config.yaml
  anomalib/models/stfpm/config.yaml
  tests/pre_merge/datasets/test_datamodule.py
  tests/pre_merge/datasets/test_synthetic_data.py
Labels: Data, Tests

#748 Refactor feature extraction key
  anomalib/models/cflow/config.yaml
  anomalib/models/cflow/lightning_model.py
  anomalib/models/cflow/torch_model.py
  anomalib/models/components/__init__.py
  anomalib/models/components/feature_extraction/__init__.py
  anomalib/models/components/feature_extraction/base.py
  anomalib/models/components/feature_extraction/timm.py
  anomalib/models/components/feature_extraction/torchfx.py
  anomalib/models/components/feature_extraction/utils.py
  anomalib/models/components/feature_extractors/__init__.py
  anomalib/models/components/feature_extractors/utils.py
  anomalib/models/dfkde/config.yaml
  anomalib/models/dfkde/lightning_model.py
  anomalib/models/dfkde/torch_model.py
  anomalib/models/dfm/config.yaml
  anomalib/models/dfm/lightning_model.py
  anomalib/models/dfm/torch_model.py
  anomalib/models/padim/config.yaml
  anomalib/models/padim/lightning_model.py
  anomalib/models/padim/torch_model.py
  anomalib/models/patchcore/config.yaml
  anomalib/models/patchcore/lightning_model.py
  anomalib/models/patchcore/torch_model.py
  anomalib/models/reverse_distillation/config.yaml
  anomalib/models/reverse_distillation/lightning_model.py
  anomalib/models/reverse_distillation/torch_model.py
  anomalib/models/stfpm/config.yaml
  anomalib/models/stfpm/lightning_model.py
  anomalib/models/stfpm/loss.py
  anomalib/models/stfpm/torch_model.py
  tests/pre_merge/models/test_feature_extractor.py
Labels: Tests

#791 Revert "Optimized inference with onnx for patchcore. (#652)"
  CHANGELOG.md
  anomalib/models/patchcore/torch_model.py
Labels: Docs

#796 Deprecate OptimalF1 metric
  CHANGELOG.md
  anomalib/utils/metrics/optimal_f1.py
Labels: Metrics, Docs

#800 Bugfixes for Datamodules feature branch
  anomalib/config/config.py
  anomalib/data/folder.py
  tests/pre_merge/datasets/test_datamodule.py
Labels: Data, Config, Tests

#795 Deprecate PreProcessor
  CHANGELOG.md
  anomalib/config/config.py
  anomalib/data/__init__.py
  anomalib/data/avenue.py
  anomalib/data/base/dataset.py
  anomalib/data/base/video.py
  anomalib/data/btech.py
  anomalib/data/folder.py
  anomalib/data/inference.py
  anomalib/data/mvtec.py
  anomalib/data/synthetic.py
  anomalib/data/ucsd_ped.py
  anomalib/data/utils/__init__.py
  anomalib/data/utils/image.py
  anomalib/data/utils/transform.py
  anomalib/deploy/inferencers/openvino_inferencer.py
  anomalib/deploy/inferencers/torch_inferencer.py
  anomalib/models/cflow/config.yaml
  anomalib/models/dfkde/config.yaml
  anomalib/models/dfm/config.yaml
  anomalib/models/draem/config.yaml
  anomalib/models/draem/transform_config.yaml
  anomalib/models/fastflow/config.yaml
  anomalib/models/ganomaly/config.yaml
  anomalib/models/padim/config.yaml
  anomalib/models/patchcore/config.yaml
  anomalib/models/reverse_distillation/config.yaml
  anomalib/models/stfpm/config.yaml
  anomalib/pre_processing/pre_process.py
  tests/pre_merge/datasets/test_dataset.py
  tests/pre_merge/datasets/test_synthetic_data.py
  tests/pre_merge/datasets/test_video.py
  tests/pre_merge/pre_processing/transforms/test_transforms.py
  tools/inference/lightning_inference.py
Labels: Data, Pre-Processing, Config, Inference, Tests, Docs, Tools

#801 Improve handling of `test_split_mode='none'` and `val_split_mode='none'`
  anomalib/config/config.py
  anomalib/data/base/datamodule.py
  tools/train.py
Labels: Data, Config, Tools

#804 Add loss logging to trainable models
  CHANGELOG.md
  anomalib/models/cflow/lightning_model.py
  anomalib/models/draem/lightning_model.py
  anomalib/models/fastflow/lightning_model.py
  anomalib/models/ganomaly/lightning_model.py
  anomalib/models/reverse_distillation/lightning_model.py
  anomalib/models/stfpm/lightning_model.py
Labels: Docs

#807 ⚙️ Modify pre_merge workflow
  .github/workflows/pre_merge.yml
  CHANGELOG.md
Labels: CI, Docs

#811 🧹 Replace resume_from_checkpoint with ckpt_path
  CHANGELOG.md
  anomalib/config/config.py
  anomalib/models/__init__.py
  anomalib/models/cflow/config.yaml
  anomalib/models/dfkde/config.yaml
  anomalib/models/draem/config.yaml
  anomalib/models/fastflow/config.yaml
  anomalib/models/ganomaly/config.yaml
  anomalib/models/padim/config.yaml
  anomalib/models/patchcore/config.yaml
  anomalib/models/reverse_distillation/config.yaml
  anomalib/models/stfpm/config.yaml
  anomalib/utils/callbacks/__init__.py
  anomalib/utils/callbacks/model_loader.py
  anomalib/utils/cli/cli.py
  configs/model/cflow.yaml
  configs/model/dfkde.yaml
  configs/model/dfm.yaml
  configs/model/fastflow.yaml
  configs/model/ganomaly.yaml
  configs/model/padim.yaml
  configs/model/patchcore.yaml
  configs/model/reverse_distillation.yaml
  configs/model/stfpm.yaml
  notebooks/000_getting_started/001_getting_started.ipynb
  tests/helpers/config.py
  tests/helpers/model.py
  tools/inference/lightning_inference.py
  tools/test.py
  tools/train.py
Labels: Callbacks, Config, CLI, Inference, Tests, Docs, Tools, Notebooks

#817 🩹 Add early stopping to csflow
  CHANGELOG.md
  anomalib/models/csflow/lightning_model.py
Labels: Docs

#820 Detection improvements
  anomalib/deploy/inferencers/base_inferencer.py
  anomalib/deploy/inferencers/openvino_inferencer.py
  anomalib/deploy/inferencers/torch_inferencer.py
  anomalib/models/components/base/anomaly_module.py
  anomalib/post_processing/post_process.py
  anomalib/post_processing/visualizer.py
  anomalib/utils/callbacks/min_max_normalization.py
Labels: Callbacks, Inference, Post-Processing
