Repository openvinotoolkit/anomalib, pull requests merged in 2023-06, with the labels that each got.

#1098 OV API2.0
  notebooks/400_openvino/401_nncf.ipynb
  src/anomalib/deploy/inferencers/base_inferencer.py
  src/anomalib/deploy/inferencers/openvino_inferencer.py
  src/anomalib/deploy/inferencers/torch_inferencer.py
Labels: Notebooks

#1103 AI-VAD bbox post-processing
  CHANGELOG.md
  src/anomalib/data/utils/boxes.py
  src/anomalib/models/ai_vad/config.yaml
  src/anomalib/models/ai_vad/lightning_model.py
  src/anomalib/models/ai_vad/regions.py
  src/anomalib/models/ai_vad/torch_model.py
Labels: Docs

#1114 Fix `pre-commit` issues caused by the EfficientAD PR
  src/anomalib/models/efficientad/README.md
  src/anomalib/models/efficientad/torch_model.py
  tox.ini
Labels: CI, Setup

#1135 Version bump
  CHANGELOG.md
  src/anomalib/__init__.py
Labels: Docs

#1157 added a test workflow to stick to the pr-check workflow completed event
  .github/workflows/upload_coverage.yml
Labels: CI

#1143 Update EfficientAD
  CHANGELOG.md
  README.md
  src/anomalib/models/efficientad/README.md
  src/anomalib/models/efficientad/config.yaml
  src/anomalib/models/efficientad/lightning_model.py
  src/anomalib/models/efficientad/torch_model.py
Labels: Docs

#1155 Fix benchmark
  tests/pre_merge/utils/sweep/conftest.py
  tests/pre_merge/utils/sweep/test_throughput.py
  tools/benchmarking/benchmark.py
Labels: Tests, Benchmarking, Tools
