Repository openvinotoolkit/anomalib, pull requests merged in 2023-03, with the labels that each got.

#919 [BUGFIX] Use `Path.is_dir` instead of `Path.suffix == ""`
  anomalib/data/utils/image.py
Labels: Data

#934 Release v0.4.0
  CHANGELOG.md
  anomalib/__init__.py
Labels: Docs

#936 Add ruff as the main linter
  .pre-commit-config.yaml
  anomalib/data/utils/augmenter.py
  anomalib/deploy/inferencers/torch_inferencer.py
  anomalib/models/csflow/torch_model.py
  anomalib/models/fastflow/loss.py
  anomalib/models/ganomaly/lightning_model.py
  anomalib/models/rkde/region_extractor.py
  anomalib/pre_processing/tiler.py
  anomalib/utils/callbacks/nncf/utils.py
  anomalib/utils/metrics/aupro.py
  pyproject.toml
  requirements/dev.txt
  tests/helpers/aupro_reference.py
  tools/inference/gradio_inference.py
Labels: Metrics, Callbacks, Dependencies, Data, Pre-Processing, Setup, Inference, Tests, Tools

#935 Bugfix code logic to allow for passing of `nn.Module` to `TorchFXFeatureExtractor`
  anomalib/models/components/feature_extractors/torchfx.py
  tests/pre_merge/models/test_feature_extractor.py
Labels: Tests

#938 Add unreleased section to CHANGELOG.md
  CHANGELOG.md
Labels: Docs

#941 Revert "Mvtec 3d"
  anomalib/data/__init__.py
  anomalib/data/base/__init__.py
  anomalib/data/base/datamodule.py
  anomalib/data/base/dataset.py
  anomalib/data/base/depth.py
  anomalib/data/folder.py
  anomalib/data/folder_3d.py
  anomalib/data/mvtec_3d.py
  anomalib/data/utils/__init__.py
  anomalib/data/utils/image.py
  anomalib/data/utils/path.py
  anomalib/data/utils/transform.py
  anomalib/post_processing/visualizer.py
  docs/source/how_to_guides/notebooks
  notebooks/100_datamodules/103_folder.ipynb
Labels: Data, Post-Processing, Docs, Notebooks

#940 Add a new workflow for code scanning
  .github/workflows/code_scan.yml
  tox.ini
Labels: CI, Setup

#897 📚 Add OpenVINO Inference to getting started notebook.
  notebooks/000_getting_started/001_getting_started.ipynb
Labels: Notebooks

#903 Remove torchvision and torchtext
  requirements/base.txt
Labels: Dependencies

#954 Enable bandit scanning
  .ci/ipas_default.config
  .github/workflows/code_scan.yml
  tox.ini
Labels: CI, Setup

#939 Remove config dependency from `OpenVINOInferencer`
  .gitignore
  CHANGELOG.md
  README.md
  docs/source/tutorials/inference.rst
  notebooks/000_getting_started/001_getting_started.ipynb
  notebooks/500_use_cases/501_dobot/501a_Dataset_creation_and_Inference_with_a_robotic_arm.ipynb
  notebooks/500_use_cases/501_dobot/501b_Training_a_model_with_cubes_from_a_robotic_arm.ipynb
  notebooks/500_use_cases/501_dobot/cubes_config.yaml
  requirements/extras.txt
  src/anomalib/deploy/__init__.py
  src/anomalib/deploy/export.py
  src/anomalib/deploy/inferencers/base_inferencer.py
  src/anomalib/deploy/inferencers/openvino_inferencer.py
  src/anomalib/deploy/inferencers/torch_inferencer.py
  src/anomalib/models/cfa/torch_model.py
  src/anomalib/utils/callbacks/export.py
  src/anomalib/utils/sweep/helpers/inference.py
  tests/pre_merge/deploy/test_inferencer.py
  tests/pre_merge/utils/callbacks/export_callback/dummy_lightning_model.py
  tests/pre_merge/utils/callbacks/export_callback/test_export.py
  tools/benchmarking/benchmark.py
  tools/inference/gradio_inference.py
  tools/inference/openvino_inference.py
Labels: Dependencies, Inference, Tests, Docs, Benchmarking, Tools, Notebooks

#969 Fixed outdated info in readme
  README.md
Labels: Docs

#973 Add the new datamodule tests
  .ci/ipas_default.config
  .github/workflows/code_scan.yml
  requirements/dev.txt
  src/anomalib/data/avenue.py
  tests/unit/__init__.py
  tests/unit/data/__init__.py
  tests/unit/data/base/__init__.py
  tests/unit/data/base/test_datamodule.py
  tests/unit/data/base/test_depth.py
  tests/unit/data/base/test_image.py
  tests/unit/data/base/test_video.py
  tests/unit/data/conftest.py
  tests/unit/data/test_avenue.py
  tests/unit/data/test_btech.py
  tests/unit/data/test_folder.py
  tests/unit/data/test_folder_3d.py
  tests/unit/data/test_mvtec.py
  tests/unit/data/test_mvtec_3d.py
  tests/unit/data/test_shanghaitech.py
  tests/unit/data/test_ucsd_ped.py
  tests/unit/data/test_visa.py
  tox.ini
Labels: Dependencies, CI, Setup, Tests

#993 Add `README.md` to Notebooks and Detailed Installation Instructions to Docs
  CHANGELOG.md
  README.md
  docs/source/getting_started/index.rst
  docs/source/getting_started/installation/cloud_services/azure_ml.rst
  docs/source/getting_started/installation/cloud_services/index.rst
  docs/source/getting_started/installation/cloud_services/sagemaker.rst
  docs/source/getting_started/installation/docker/index.rst
  docs/source/getting_started/installation/environment_managers/conda.rst
  docs/source/getting_started/installation/environment_managers/index.rst
  docs/source/getting_started/installation/index.rst
  docs/source/getting_started/installation/operating_systems/index.rst
  docs/source/getting_started/installation/operating_systems/linux/redhat_and_centos.rst
  docs/source/getting_started/installation/operating_systems/linux/ubuntu.rst
  docs/source/getting_started/installation/operating_systems/mac.rst
  docs/source/getting_started/installation/operating_systems/windows.rst
  docs/source/index.rst
  docs/source/tutorials/installation.rst
  notebooks/000_getting_started/README.md
  notebooks/100_datamodules/README.md
  notebooks/200_models/README.md
  notebooks/300_benchmarking/README.md
  notebooks/400_openvino/401_nncf.ipynb
  notebooks/400_openvino/README.md
  notebooks/500_use_cases/501_dobot/501a_dataset_creation_and_Inference_with_a_robotic_arm.ipynb
  notebooks/500_use_cases/501_dobot/501b_training_a_model_with_cubes_from_a_robotic_arm.ipynb
  notebooks/500_use_cases/501_dobot/README.md
  notebooks/README.md
  requirements/loggers.txt
  requirements/notebooks.txt
  setup.py
  tox.ini
Labels: Dependencies, CI, Setup, Docs, Notebooks
