Repository openvinotoolkit/anomalib, pull requests merged in 2023-09, with the labels that each got.

#1314 [Chore] Modify README custom dataset
  README.md
Labels: Docs

#1298 Partially restore tests
  src/anomalib/config/config.py
  src/anomalib/utils/callbacks/__init__.py
  src/anomalib/utils/callbacks/min_max_normalization.py
  src/anomalib/utils/callbacks/visualizer/visualizer_image.py
  tests/helpers/config.py
  tests/helpers/dummy.py
  tests/helpers/model.py
  tests/nightly/models/test_model_nightly.py
  tests/pre_merge/deploy/test_inferencer.py
  tests/pre_merge/tools/conftest.py
  tests/pre_merge/utils/callbacks/export_callback/dummy_lightning_model.py
  tests/pre_merge/utils/callbacks/export_callback/test_export.py
  tests/pre_merge/utils/callbacks/metrics_configuration_callback/test_metrics_configuration_callback.py
  tests/pre_merge/utils/callbacks/normalization_callback/test_normalization_callback.py
  tests/pre_merge/utils/callbacks/visualizer_callback/dummy_lightning_model.py
  tests/pre_merge/utils/callbacks/visualizer_callback/test_visualizer.py
  tests/pre_merge/utils/loggers/test_get_logger.py
  tests/pre_merge/utils/metrics/test_adaptive_threshold.py
  tests/pre_merge/utils/sweep/conftest.py
  tools/inference/lightning_inference.py
  tools/test.py
Labels: Inference, Tests, Tools

#1307 🩹 Fix docs build
  .github/workflows/docs.yml
  README.md
Labels: CI, Docs

#1322 Fix the readthedocs config
  .pre-commit-config.yaml
  .readthedocs.yaml
Labels: Setup

#1317 Fix PRO metric calculation on GPU
  src/anomalib/utils/metrics/pro.py
  tests/pre_merge/utils/metrics/test_pro.py
Labels: Tests

#1326 Change the documentation URL in `README.md` and add commands to run each inferencer
  README.md
Labels: Docs

#1168 Add `setuptools` as a requirement (via `pkg_resources`)
  requirements/base.txt
Labels: Dependencies

#1302 [Custom Trainer] Refactor postprocessing
  notebooks/000_getting_started/001_getting_started.ipynb
  notebooks/200_models/201_fastflow.ipynb
  notebooks/400_openvino/401_nncf.ipynb
  src/anomalib/__init__.py
  src/anomalib/data/utils/split.py
  src/anomalib/models/components/base/anomaly_module.py
  src/anomalib/trainer/__init__.py
  src/anomalib/trainer/callbacks/__init__.py
  src/anomalib/trainer/callbacks/post_processor.py
  src/anomalib/trainer/trainer.py
  src/anomalib/utils/callbacks/cdf_normalization.py
  src/anomalib/utils/hpo/runners.py
  src/anomalib/utils/loggers/comet.py
  src/anomalib/utils/loggers/tensorboard.py
  src/anomalib/utils/loggers/wandb.py
  tests/helpers/model.py
  tests/pre_merge/deploy/test_inferencer.py
  tests/pre_merge/utils/callbacks/export_callback/test_export.py
  tests/pre_merge/utils/callbacks/metrics_configuration_callback/test_metrics_configuration_callback.py
  tests/pre_merge/utils/callbacks/normalization_callback/test_normalization_callback.py
  tests/pre_merge/utils/callbacks/visualizer_callback/test_visualizer.py
  tests/pre_merge/utils/metrics/test_adaptive_threshold.py
  tests/pre_merge/utils/sweep/conftest.py
  tools/benchmarking/benchmark.py
  tools/inference/lightning_inference.py
  tools/test.py
  tools/train.py
Labels: Inference, Tests, Benchmarking, Tools, Notebooks

#1294 metrics[1]: auc boxplot [GSoC 2023 @ OpenVINO]
  notebooks/500_use_cases/502_perimg_metrics.ipynb
  src/anomalib/utils/metrics/perimg/common.py
  src/anomalib/utils/metrics/perimg/pimo.py
  src/anomalib/utils/metrics/perimg/plot.py
  tests/pre_merge/utils/metrics/test_perimg/test_common.py
  tests/pre_merge/utils/metrics/test_perimg/test_pimo.py
  tests/pre_merge/utils/metrics/test_perimg/test_plot.py
Labels: Tests, Notebooks

#1310 [Custom Trainer] refactor normalization callbacks
  setup.py
  src/anomalib/__init__.py
  src/anomalib/trainer/callbacks/__init__.py
  src/anomalib/trainer/trainer.py
  src/anomalib/utils/callbacks/__init__.py
  src/anomalib/utils/callbacks/normalization/__init__.py
  src/anomalib/utils/callbacks/normalization/cdf_normalization.py
  src/anomalib/utils/callbacks/normalization/min_max_normalization.py
  src/anomalib/utils/callbacks/normalization/utils.py
  src/anomalib/utils/callbacks/post_processor.py
  src/anomalib/utils/cli/cli.py
  tools/train.py
Labels: Setup, Tools

#1311 [Custom Trainer] Refactor thresholding
  src/anomalib/config/config.py
  src/anomalib/models/components/base/anomaly_module.py
  src/anomalib/models/padim/config.yaml
  src/anomalib/post_processing/__init__.py
  src/anomalib/post_processing/post_process.py
  src/anomalib/trainer/trainer.py
  src/anomalib/utils/callbacks/__init__.py
  src/anomalib/utils/callbacks/post_processing_configuration.py
  src/anomalib/utils/callbacks/thresholding.py
  src/anomalib/utils/cli/cli.py
  src/anomalib/utils/metrics/__init__.py
  src/anomalib/utils/metrics/threshold/__init__.py
  src/anomalib/utils/metrics/threshold/base.py
  src/anomalib/utils/metrics/threshold/f1_adaptive_threshold.py
  src/anomalib/utils/metrics/threshold/manual_threshold.py
  src/anomalib/utils/sweep/helpers/callbacks.py
  tools/train.py
Labels: Tools

#1312 [Custom Trainer] Refactor Metrics
  src/anomalib/models/components/base/anomaly_module.py
  src/anomalib/trainer/trainer.py
  src/anomalib/utils/callbacks/__init__.py
  src/anomalib/utils/callbacks/metrics.py
  src/anomalib/utils/callbacks/metrics_configuration.py
  tools/train.py
Labels: Tools

#1313 [Custom Trainer] Refactor visualization callback
  src/anomalib/trainer/trainer.py
  src/anomalib/utils/callbacks/__init__.py
  src/anomalib/utils/callbacks/visualizer/__init__.py
  src/anomalib/utils/callbacks/visualizer/utils.py
  tools/train.py
Labels: Tools

#1353 fix(docs): typo
  docs/source/tutorials/inference.rst
Labels: Docs

#1348 [Custom Trainer] Initial engine design
  notebooks/000_getting_started/001_getting_started.ipynb
  notebooks/200_models/201_fastflow.ipynb
  notebooks/300_benchmarking/302_hpo_wandb.ipynb
  notebooks/400_openvino/401_nncf.ipynb
  src/anomalib/engine/__init__.py
  src/anomalib/engine/engine.py
  src/anomalib/models/components/base/anomaly_module.py
  src/anomalib/models/padim/lightning_model.py
  src/anomalib/models/patchcore/lightning_model.py
  src/anomalib/models/patchcore/torch_model.py
  src/anomalib/trainer/__init__.py
  src/anomalib/trainer/trainer.py
  src/anomalib/utils/callbacks/graph.py
  src/anomalib/utils/callbacks/metrics.py
  src/anomalib/utils/callbacks/normalization/__init__.py
  src/anomalib/utils/callbacks/normalization/cdf_normalization.py
  src/anomalib/utils/callbacks/normalization/min_max_normalization.py
  src/anomalib/utils/callbacks/post_processor.py
  src/anomalib/utils/callbacks/thresholding.py
  src/anomalib/utils/cli/cli.py
  src/anomalib/utils/hpo/runners.py
  src/anomalib/utils/loggers/comet.py
  src/anomalib/utils/loggers/tensorboard.py
  src/anomalib/utils/loggers/wandb.py
  src/anomalib/utils/sweep/helpers/callbacks.py
  tests/helpers/model.py
  tests/nightly/models/test_model_nightly.py
  tests/pre_merge/deploy/test_inferencer.py
  tests/pre_merge/models/test_model_premerge.py
  tests/pre_merge/post_processing/test_visualizer.py
  tests/pre_merge/utils/callbacks/export_callback/test_export.py
  tests/pre_merge/utils/callbacks/metrics_configuration_callback/test_metrics_configuration_callback.py
  tests/pre_merge/utils/callbacks/normalization_callback/test_normalization_callback.py
  tests/pre_merge/utils/callbacks/visualizer_callback/test_visualizer.py
  tests/pre_merge/utils/metrics/test_adaptive_threshold.py
  tests/pre_merge/utils/sweep/conftest.py
  tests/pre_merge/utils/sweep/test_throughput.py
  tools/benchmarking/benchmark.py
  tools/inference/lightning_inference.py
  tools/test.py
  tools/train.py
Labels: Inference, Tests, Benchmarking, Tools, Notebooks

#1358 README: Synchronize OV version with requirements
  README.md
Labels: Docs

#1363 Update the broken link in training.rst
  docs/source/tutorials/training.rst
Labels: Docs

#1373 chore(deps): update timm to 0.6.13
  requirements/base.txt
Labels: Dependencies

#1379 Missing indentation in metrics.rst docs
  docs/source/reference_guide/api/metrics.rst
Labels: Docs
