Repository openvinotoolkit/anomalib, pull requests merged in 2023-11, with the labels that each got.

#1455 Add ruff checks to tests
  .pre-commit-config.yaml
  requirements/loggers.txt
  src/anomalib/deploy/inferencers/torch_inferencer.py
  tests/conftest.py
  tests/integration/cli/test_cli.py
  tests/unit/utils/callbacks/test_normalization_callback.py
  tox.ini
Labels: Dependencies, CI, Setup, Tests

#1444 Add dummy image dataset generator helper class
  src/anomalib/data/__init__.py
  src/anomalib/data/avenue.py
  tests/helpers/__init__.py
  tests/helpers/data.py
Labels: Tests

#1424 preexisting OpenCV version check added to `setup.py`, ran formatting pre-commit hooks on previous contribution.
  setup.py
Labels: Setup

#1458 🐞 Hotfix: Limit Gradio Version
  requirements/loggers.txt
Labels: Dependencies

#1456 [v1] - Tests: Add datamodule tests.
  tests/conftest.py
  tests/helpers/data.py
  tests/unit/data/__init__.py
  tests/unit/data/base/__init__.py
  tests/unit/data/base/base.py
  tests/unit/data/base/depth.py
  tests/unit/data/base/image.py
  tests/unit/data/base/video.py
  tests/unit/data/conftest.py
  tests/unit/data/image/__init__.py
  tests/unit/data/image/test_btech.py
  tests/unit/data/image/test_folder.py
  tests/unit/data/image/test_folder_3d.py
  tests/unit/data/image/test_kolektor.py
  tests/unit/data/image/test_mvtec.py
  tests/unit/data/image/test_mvtec_3d.py
  tests/unit/data/image/test_visa.py
  tests/unit/data/test_inference.py
  tests/unit/data/test_synthetic.py
  tests/unit/data/video/__init__.py
  tests/unit/data/video/test_avenue.py
  tests/unit/data/video/test_shanghaitech.py
  tests/unit/data/video/test_ucsdped.py
Labels: Tests

#1415 Adding U-Flow method
  README.md
  docs/source/images/uflow/diagram.png
  docs/source/images/uflow/iou.png
  docs/source/images/uflow/more-results.png
  docs/source/images/uflow/pixel-aupro.png
  docs/source/images/uflow/pixel-auroc.png
  docs/source/images/uflow/results-mvtec-anomalies.jpg
  docs/source/images/uflow/results-mvtec-good.jpg
  docs/source/images/uflow/results-others-anomalies.jpg
  docs/source/images/uflow/results-others-good.jpg
  docs/source/images/uflow/teaser.jpg
  docs/source/reference_guide/algorithms/index.rst
  docs/source/reference_guide/algorithms/uflow.rst
  src/anomalib/models/__init__.py
  src/anomalib/models/uflow/README.md
  src/anomalib/models/uflow/__init__.py
  src/anomalib/models/uflow/anomaly_map.py
  src/anomalib/models/uflow/config.yaml
  src/anomalib/models/uflow/feature_extraction.py
  src/anomalib/models/uflow/lightning_model.py
  src/anomalib/models/uflow/loss.py
  src/anomalib/models/uflow/torch_model.py
  tests/pre_merge/deploy/test_inferencer.py
  tests/pre_merge/models/test_model_premerge.py
Labels: Tests, Docs

#1473 Refactor tests Part 1
  src/anomalib/engine/engine.py
  tests/conftest.py
  tests/integration/cli/test_cli.py
Labels: Tests

#1474 Add API tests Part 2
  src/anomalib/engine/engine.py
  src/anomalib/models/__init__.py
  src/anomalib/models/cfa/lightning_model.py
  src/anomalib/models/cflow/lightning_model.py
  src/anomalib/models/csflow/lightning_model.py
  src/anomalib/models/dfm/lightning_model.py
  src/anomalib/models/efficient_ad/lightning_model.py
  src/anomalib/models/fastflow/lightning_model.py
  src/anomalib/models/ganomaly/lightning_model.py
  src/anomalib/models/reverse_distillation/lightning_model.py
  tests/integration/model/__init__.py
  tests/integration/model/test_models.py
  tests/legacy/pre_merge/tools/test_lightning_entrypoint.py
  tests/unit/models/__init__.py
  tests/unit/models/test_model_utils.py
Labels: Tests

#1480 Partially migrate unit tests Part 3
  tests/conftest.py
  tests/legacy/pre_merge/post_processing/test_visualizer.py
  tests/legacy/pre_merge/pre_processing/__init__.py
  tests/legacy/pre_merge/pre_processing/transforms/__init__.py
  tests/legacy/pre_merge/tools/test_lightning_entrypoint.py
  tests/unit/data/test_get_gransforms.py
  tests/unit/post_processing/__init__.py
  tests/unit/post_processing/test_visualizer.py
  tests/unit/pre_processing/__init__.py
  tests/unit/pre_processing/test_tiler.py
  tests/unit/pre_processing/transforms/__init__.py
  tests/unit/pre_processing/transforms/test_transforms.py
  tox.ini
Labels: CI, Setup, Tests

#1483 Reorg Part I: Data
  notebooks/000_getting_started/001_getting_started.ipynb
  notebooks/100_datamodules/101_btech.ipynb
  notebooks/100_datamodules/102_mvtec.ipynb
  notebooks/100_datamodules/103_folder.ipynb
  notebooks/200_models/201_fastflow.ipynb
  src/anomalib/data/__init__.py
  src/anomalib/data/base/datamodule.py
  src/anomalib/data/base/dataset.py
  src/anomalib/data/base/depth.py
  src/anomalib/data/base/video.py
  src/anomalib/data/depth/__init__.py
  src/anomalib/data/depth/folder_3d.py
  src/anomalib/data/depth/mvtec_3d.py
  src/anomalib/data/image/__init__.py
  src/anomalib/data/image/btech.py
  src/anomalib/data/image/folder.py
  src/anomalib/data/image/kolektor.py
  src/anomalib/data/image/mvtec.py
  src/anomalib/data/image/visa.py
  src/anomalib/data/utils/synthetic.py
  src/anomalib/data/video/__init__.py
  src/anomalib/data/video/avenue.py
  src/anomalib/data/video/shanghaitech.py
  src/anomalib/data/video/ucsd_ped.py
  src/anomalib/deploy/export.py
  src/anomalib/deploy/inferencers/openvino_inferencer.py
  src/anomalib/deploy/inferencers/torch_inferencer.py
  src/anomalib/engine/engine.py
  src/anomalib/post_processing/visualizer.py
  src/anomalib/utils/callbacks/metrics.py
  src/anomalib/utils/callbacks/visualizer/utils.py
  src/anomalib/utils/callbacks/visualizer/visualizer_base.py
  src/anomalib/utils/cli/cli.py
  src/anomalib/utils/types/__init__.py
  src/anomalib/utils/types/task_type.py
  tests/integration/cli/test_cli.py
  tests/integration/model/test_models.py
  tests/legacy/helpers/model.py
  tests/legacy/pre_merge/deploy/test_inferencer.py
  tests/legacy/pre_merge/tools/test_gradio_entrypoint.py
  tests/legacy/pre_merge/tools/test_openvino_entrypoint.py
  tests/legacy/pre_merge/tools/test_torch_entrypoint.py
  tests/legacy/pre_merge/utils/callbacks/export_callback/test_export.py
  tests/legacy/pre_merge/utils/sweep/conftest.py
  tests/legacy/pre_merge/utils/sweep/test_throughput.py
  tests/unit/data/conftest.py
  tests/unit/data/image/test_btech.py
  tests/unit/data/image/test_folder.py
  tests/unit/data/image/test_folder_3d.py
  tests/unit/data/image/test_kolektor.py
  tests/unit/data/image/test_mvtec.py
  tests/unit/data/image/test_mvtec_3d.py
  tests/unit/data/image/test_visa.py
  tests/unit/data/test_synthetic.py
  tests/unit/data/video/test_avenue.py
  tests/unit/data/video/test_shanghaitech.py
  tests/unit/data/video/test_ucsdped.py
  tests/unit/post_processing/test_visualizer.py
Labels: Tests, Notebooks

#1485 Reorg Part II: Remove `pre_processor` and `post_processor` subpackages
  notebooks/000_getting_started/001_getting_started.ipynb
  notebooks/100_datamodules/104_tiling.ipynb
  notebooks/200_models/201_fastflow.ipynb
  src/anomalib/data/image/btech.py
  src/anomalib/data/utils/__init__.py
  src/anomalib/data/utils/tiler.py
  src/anomalib/data/utils/transforms.py
  src/anomalib/deploy/inferencers/base_inferencer.py
  src/anomalib/engine/engine.py
  src/anomalib/models/padim/torch_model.py
  src/anomalib/models/patchcore/torch_model.py
  src/anomalib/models/reverse_distillation/torch_model.py
  src/anomalib/models/stfpm/torch_model.py
  src/anomalib/post_processing/__init__.py
  src/anomalib/pre_processing/__init__.py
  src/anomalib/pre_processing/pre_process.py
  src/anomalib/pre_processing/transforms/__init__.py
  src/anomalib/pre_processing/transforms/custom.py
  src/anomalib/utils/callbacks/normalization/cdf_normalization.py
  src/anomalib/utils/callbacks/normalization/min_max_normalization.py
  src/anomalib/utils/callbacks/normalization/utils.py
  src/anomalib/utils/callbacks/tiler_configuration.py
  src/anomalib/utils/callbacks/visualizer/utils.py
  src/anomalib/utils/callbacks/visualizer/visualizer_base.py
  src/anomalib/utils/normalization/__init__.py
  src/anomalib/utils/normalization/cdf.py
  src/anomalib/utils/normalization/min_max.py
  src/anomalib/utils/post_processing.py
  src/anomalib/utils/visualization.py
  tests/legacy/pre_merge/utils/metrics/test_adaptive_threshold.py
  tests/unit/data/utils/__init__.py
  tests/unit/data/utils/test_synthetic.py
  tests/unit/data/utils/test_tiler.py
  tests/unit/data/utils/test_transforms.py
  tests/unit/post_processing/__init__.py
  tests/unit/pre_processing/transforms/__init__.py
  tests/unit/pre_processing/transforms/test_transforms.py
  tests/unit/utils/test_visualizer.py
  tools/inference/openvino_inference.py
  tools/inference/torch_inference.py
Labels: Inference, Tests, Tools, Notebooks

#1481 Migrate deploy tests Part 4
  src/anomalib/engine/engine.py
  src/anomalib/models/components/base/anomaly_module.py
  tests/legacy/pre_merge/deploy/__init__.py
  tests/legacy/pre_merge/deploy/test_inferencer.py
  tests/unit/deploy/__init__.py
  tests/unit/deploy/test_inferencer.py
  tests/unit/utils/callbacks/test_normalization_callback.py
Labels: Tests

#1482 Migrate model components unit tests Part 5
  src/anomalib/utils/callbacks/__init__.py
  src/anomalib/utils/callbacks/export.py
  src/anomalib/utils/loggers/tensorboard.py
  tests/legacy/pre_merge/models/__init__.py
  tests/legacy/pre_merge/utils/callbacks/__init__.py
  tests/legacy/pre_merge/utils/callbacks/export_callback/__init__.py
  tests/legacy/pre_merge/utils/callbacks/export_callback/dummy_lightning_model.py
  tests/legacy/pre_merge/utils/callbacks/export_callback/test_export.py
  tests/legacy/pre_merge/utils/callbacks/visualizer_callback/__init__.py
  tests/legacy/pre_merge/utils/callbacks/visualizer_callback/dummy_lightning_model.py
  tests/legacy/pre_merge/utils/callbacks/visualizer_callback/test_visualizer.py
  tests/unit/cli/__init__.py
  tests/unit/cli/test_help_formatter.py
  tests/unit/models/components/__init__.py
  tests/unit/models/components/test_blur.py
  tests/unit/models/test_feature_extractor.py
  tests/unit/utils/callbacks/visualizer_callback/__init__.py
  tests/unit/utils/callbacks/visualizer_callback/dummy_lightning_model.py
  tests/unit/utils/callbacks/visualizer_callback/test_visualizer.py
Labels: Tests

#1488 Migrate tools test Part 6
  tests/integration/__init__.py
  tests/integration/tools/__init__.py
  tests/integration/tools/conftest.py
  tests/integration/tools/test_gradio_entrypoint.py
  tests/integration/tools/test_lightning_entrypoint.py
  tests/integration/tools/test_openvino_entrypoint.py
  tests/integration/tools/test_torch_entrypoint.py
  tests/legacy/nightly/tools/__init__.py
  tests/legacy/nightly/tools/benchmarking/__init__.py
  tests/legacy/nightly/tools/benchmarking/benchmark_params.yaml
  tests/legacy/nightly/tools/benchmarking/test_benchmarking.py
  tests/legacy/pre_merge/tools/__init__.py
  tests/legacy/pre_merge/utils/metrics/__init__.py
  tests/unit/metrics/__init__.py
  tests/unit/metrics/test_adaptive_threshold.py
  tests/unit/metrics/test_aupro.py
  tests/unit/metrics/test_binning.py
  tests/unit/metrics/test_pro.py
Labels: Tests

#1490 Migrate unit tests Part 7
  tests/legacy/helpers/__init__.py
  tests/legacy/helpers/dataset.py
  tests/legacy/helpers/detection.py
  tests/legacy/helpers/dummy.py
  tests/legacy/helpers/inference.py
  tests/legacy/helpers/metrics.py
  tests/legacy/helpers/model.py
  tests/legacy/helpers/shapes.py
  tests/legacy/pre_merge/__init__.py
  tests/legacy/pre_merge/utils/sweep/conftest.py
  tests/legacy/pre_merge/utils/sweep/test_throughput.py
  tests/unit/deploy/test_inferencer.py
  tests/unit/loggers/__init__.py
  tests/unit/loggers/test_get_logger.py
  tests/unit/metrics/aupro/LICENSE
  tests/unit/metrics/aupro/__init__.py
  tests/unit/metrics/aupro/aupro_reference.py
  tests/unit/metrics/aupro/test_aupro.py
  tests/unit/metrics/test_adaptive_threshold.py
  tests/unit/pipelines/__init__.py
  tests/unit/pipelines/sweep/__init__.py
  tests/unit/pipelines/sweep/test_config.py
  tests/unit/pipelines/sweep/test_throughput.py
  tox.ini
Labels: CI, Setup, Tests

#1503 v1: Update the readme file
  README.md
  docs/source/images/readme.png
  setup.py
Labels: Setup, Docs
