Repository openvinotoolkit/anomalib, pull requests merged in 2023-01, with the labels that each got.

#828 [Detection] Compute box score when generating boxes from masks
  anomalib/data/base/dataset.py
  anomalib/data/base/video.py
  anomalib/data/utils/boxes.py
  anomalib/deploy/inferencers/torch_inferencer.py
  anomalib/models/components/base/anomaly_module.py
  tests/pre_merge/datasets/test_bounding_box_utils.py
Labels: Data, Inference, Tests

#824 [Dataset] Add VisA dataset
  CHANGELOG.md
  anomalib/config/config.py
  anomalib/data/__init__.py
  anomalib/data/avenue.py
  anomalib/data/btech.py
  anomalib/data/mvtec.py
  anomalib/data/ucsd_ped.py
  anomalib/data/utils/__init__.py
  anomalib/data/utils/download.py
  anomalib/data/visa.py
  tests/pre_merge/datasets/test_datamodule.py
Labels: Data, Config, Tests, Docs

#783 Add CFA model
  CHANGELOG.md
  README.md
  anomalib/models/__init__.py
  anomalib/models/cfa/README.md
  anomalib/models/cfa/__init__.py
  anomalib/models/cfa/anomaly_map.py
  anomalib/models/cfa/config.yaml
  anomalib/models/cfa/lightning_model.py
  anomalib/models/cfa/loss.py
  anomalib/models/cfa/torch_model.py
  anomalib/models/components/feature_extractors/utils.py
  anomalib/models/components/filters/blur.py
  configs/model/cfa.yaml
  docs/source/images/cfa/architecture.png
  docs/source/images/cfa/results/0.png
  docs/source/images/cfa/results/1.png
  docs/source/images/cfa/results/2.png
  tests/pre_merge/deploy/test_inferencer.py
  tests/pre_merge/models/components/test_blur.py
  tests/pre_merge/models/test_model_premerge.py
Labels: Tests, Docs

#842 fix mvtec download path
  CHANGELOG.md
  anomalib/data/mvtec.py
  anomalib/data/utils/download.py
Labels: Data, Docs

#836 🐞 Fix FileNotFoundError error in the getting started notebook
  notebooks/000_getting_started/001_getting_started.ipynb
Labels: Notebooks

#859 Update datamodule notebooks
  notebooks/100_datamodules/101_btech.ipynb
  notebooks/100_datamodules/102_mvtec.ipynb
  notebooks/100_datamodules/103_folder.ipynb
Labels: Notebooks

#808 📃 Add ipykernel to docs requirements
  .github/workflows/docs.yml
  requirements/docs.txt
Labels: Dependencies, CI

#866 Remove deprecated usage of np.bool
  anomalib/post_processing/visualizer.py
Labels: Post-Processing

#868 Add missing init files in tests folder
  tests/nightly/__init__.py
  tests/pre_merge/utils/__init__.py
Labels: Tests

#874 Link dataset path locally in workflow
  .github/workflows/docs.yml
Labels: CI

#872 Fix #871 BTech mask_image naming bug (*.bm.png)
  anomalib/data/btech.py
Labels: Data

#869 Add ShanghaiTech Campus dataset
  CHANGELOG.md
  anomalib/data/__init__.py
  anomalib/data/avenue.py
  anomalib/data/shanghaitech.py
  anomalib/data/utils/video.py
  tests/pre_merge/datasets/test_datamodule.py
Labels: Data, Tests, Docs

#877 Update datamodule.py
  anomalib/data/base/datamodule.py
Labels: Data

#880 Refactor datamodule and dataset notebooks
  notebooks/100_datamodules/101_btech.ipynb
  notebooks/100_datamodules/102_mvtec.ipynb
  notebooks/100_datamodules/103_folder.ipynb
Labels: Notebooks
