Repository openvinotoolkit/anomalib, pull requests merged in 2023-08, with the labels that each got.

#1213 📊 Add benchmarking results - `DFM`, `FastFlow` and `STFPM`
  .gitignore
  README.md
  src/anomalib/models/dfm/README.md
  src/anomalib/models/dfm/config.yaml
  src/anomalib/models/efficient_ad/config.yaml
  src/anomalib/models/fastflow/README.md
  src/anomalib/models/fastflow/config.yaml
  src/anomalib/models/stfpm/README.md
  src/anomalib/models/stfpm/config.yaml
Labels: Docs

#1216 🚚 Refactor Benchmarking Script
  pyproject.toml
  requirements/loggers.txt
  src/anomalib/utils/sweep/__init__.py
  src/anomalib/utils/sweep/utils.py
  tools/benchmarking/benchmark.py
  tools/benchmarking/utils/__init__.py
  tools/benchmarking/utils/metrics.py
Labels: Dependencies, Setup, Benchmarking, Tools

#1236 Merge main to feature/benchmarking
  .github/CODEOWNERS
  .readthedocs.yaml
  pyproject.toml
  requirements/loggers.txt
  src/anomalib/utils/sweep/__init__.py
  src/anomalib/utils/sweep/utils.py
  tools/benchmarking/benchmark.py
  tools/benchmarking/utils/__init__.py
  tools/benchmarking/utils/metrics.py
Labels: Dependencies, CI, Setup, Benchmarking, Tools

#1235 Add DFM, EfficientAD, FastFlow and STFPM results on BTech, MVTecAD and Visa benchmarks
  README.md
  src/anomalib/models/dfm/README.md
  src/anomalib/models/efficient_ad/README.md
  src/anomalib/models/fastflow/README.md
  src/anomalib/models/stfpm/README.md
Labels: Docs

#1241 Enable training with only normal images for MVTec
  CHANGELOG.md
  src/anomalib/data/mvtec.py
Labels: Docs

#1239 Revert "🚚 Refactor Benchmarking Script"
  pyproject.toml
  requirements/loggers.txt
  src/anomalib/utils/sweep/__init__.py
  src/anomalib/utils/sweep/utils.py
  tools/benchmarking/benchmark.py
  tools/benchmarking/utils/__init__.py
  tools/benchmarking/utils/metrics.py
Labels: Dependencies, Setup, Benchmarking, Tools

#1242 Update benchmarking notebook
  notebooks/300_benchmarking/301_benchmarking.ipynb
Labels: Notebooks

#1248 Merge main into feature/pimo
  .github/CODEOWNERS
  .readthedocs.yaml
  CHANGELOG.md
  notebooks/300_benchmarking/301_benchmarking.ipynb
  src/anomalib/data/mvtec.py
Labels: CI, Notebooks, Docs

#1257 Remove `config` from argparse in OpenVINO inference script.
  tests/pre_merge/tools/test_openvino_entrypoint.py
  tools/inference/openvino_inference.py
Labels: Inference, Tests, Tools

#1269 Add Details to the PR Template
  .github/pull_request_template.md
Labels: CI

#1265 Add support for receiving folder dataset paths as a list
  CHANGELOG.md
  docs/source/how_to_guides/train_custom_data.rst
  src/anomalib/data/folder.py
  tests/pre_merge/datasets/test_datamodule.py
Labels: Tests, Docs

#1145 Add binning capability to AUPRO
  CHANGELOG.md
  src/anomalib/utils/metrics/aupro.py
  src/anomalib/utils/metrics/binning.py
  tests/pre_merge/utils/metrics/test_aupro.py
  tests/pre_merge/utils/metrics/test_binning.py
Labels: Tests, Docs

#1247 metrics[0]: add per-image overlap (pimo)
  notebooks/500_use_cases/502_perimg_metrics.ipynb
  src/anomalib/utils/metrics/__init__.py
  src/anomalib/utils/metrics/perimg/.gitignore
  src/anomalib/utils/metrics/perimg/__init__.py
  src/anomalib/utils/metrics/perimg/binclf_curve.py
  src/anomalib/utils/metrics/perimg/common.py
  src/anomalib/utils/metrics/perimg/pimo.py
  src/anomalib/utils/metrics/perimg/plot.py
  tests/pre_merge/utils/metrics/test_perimg/__init__.py
  tests/pre_merge/utils/metrics/test_perimg/test_binclf_curve.py
  tests/pre_merge/utils/metrics/test_perimg/test_pimo.py
  tests/pre_merge/utils/metrics/test_perimg/test_plot.py
Labels: Tests, Notebooks

#1297 Merge feature/lightning-version-upgrade to feature/custom-trainer
  requirements/base.txt
  src/anomalib/data/base/datamodule.py
  src/anomalib/models/ai_vad/config.yaml
  src/anomalib/models/ai_vad/lightning_model.py
  src/anomalib/models/cfa/config.yaml
  src/anomalib/models/cfa/lightning_model.py
  src/anomalib/models/cflow/config.yaml
  src/anomalib/models/cflow/lightning_model.py
  src/anomalib/models/components/base/anomaly_module.py
  src/anomalib/models/csflow/config.yaml
  src/anomalib/models/csflow/lightning_model.py
  src/anomalib/models/dfkde/config.yaml
  src/anomalib/models/dfkde/lightning_model.py
  src/anomalib/models/dfm/config.yaml
  src/anomalib/models/dfm/lightning_model.py
  src/anomalib/models/draem/config.yaml
  src/anomalib/models/draem/lightning_model.py
  src/anomalib/models/efficient_ad/config.yaml
  src/anomalib/models/efficient_ad/lightning_model.py
  src/anomalib/models/fastflow/config.yaml
  src/anomalib/models/fastflow/lightning_model.py
  src/anomalib/models/ganomaly/config.yaml
  src/anomalib/models/ganomaly/lightning_model.py
  src/anomalib/models/padim/config.yaml
  src/anomalib/models/padim/lightning_model.py
  src/anomalib/models/patchcore/config.yaml
  src/anomalib/models/patchcore/lightning_model.py
  src/anomalib/models/reverse_distillation/config.yaml
  src/anomalib/models/reverse_distillation/lightning_model.py
  src/anomalib/models/rkde/config.yaml
  src/anomalib/models/rkde/lightning_model.py
  src/anomalib/models/stfpm/config.yaml
  src/anomalib/models/stfpm/lightning_model.py
  src/anomalib/utils/callbacks/__init__.py
  src/anomalib/utils/callbacks/cdf_normalization.py
  src/anomalib/utils/callbacks/export.py
  src/anomalib/utils/callbacks/graph.py
  src/anomalib/utils/callbacks/metrics_configuration.py
  src/anomalib/utils/callbacks/min_max_normalization.py
  src/anomalib/utils/callbacks/model_loader.py
  src/anomalib/utils/callbacks/nncf/callback.py
  src/anomalib/utils/callbacks/post_processing_configuration.py
  src/anomalib/utils/callbacks/tiler_configuration.py
  src/anomalib/utils/callbacks/timer.py
  src/anomalib/utils/callbacks/visualizer/visualizer_base.py
  src/anomalib/utils/callbacks/visualizer/visualizer_image.py
  src/anomalib/utils/callbacks/visualizer/visualizer_metric.py
  src/anomalib/utils/cli/cli.py
  src/anomalib/utils/hpo/runners.py
  src/anomalib/utils/loggers/__init__.py
  src/anomalib/utils/loggers/comet.py
  src/anomalib/utils/loggers/tensorboard.py
  src/anomalib/utils/loggers/wandb.py
  src/anomalib/utils/sweep/helpers/callbacks.py
  tools/benchmarking/benchmark.py
  tools/hpo/sweep.py
  tools/inference/lightning_inference.py
  tools/test.py
  tools/train.py
Labels: Dependencies, Inference, Benchmarking, HPO, Tools

#1304 Release `v0.7.0`
  CHANGELOG.md
  src/anomalib/__init__.py
Labels: Docs

#1306 Modify workflow
  .github/workflows/publish.yml
Labels: CI
