Repository openvinotoolkit/anomalib, pull requests merged in 2023-05, with the labels that each got.

#996 [Custom loops POC] Support model loading
  src/anomalib/deploy/export.py
  src/anomalib/trainer/loops/one_class/fit.py
  src/anomalib/trainer/loops/one_class/predict.py
  src/anomalib/trainer/loops/one_class/test.py
  src/anomalib/trainer/loops/one_class/validate.py
  src/anomalib/trainer/trainer.py
  src/anomalib/trainer/utils/__init__.py
  src/anomalib/trainer/utils/checkpoint_connector.py
  src/anomalib/trainer/utils/metrics_manager.py
  src/anomalib/trainer/utils/normalizer.py
  src/anomalib/trainer/utils/normalizer/__init__.py
  src/anomalib/trainer/utils/normalizer/base.py
  src/anomalib/trainer/utils/normalizer/cdf.py
  src/anomalib/trainer/utils/normalizer/min_max.py
  src/anomalib/trainer/utils/normalizer/utils.py
  src/anomalib/trainer/utils/post_processor.py
  src/anomalib/trainer/utils/thresholder.py
  src/anomalib/utils/callbacks/__init__.py
  src/anomalib/utils/callbacks/model_loader.py
  tools/test.py
  tools/train.py
Labels: Tools

#1080 Modify codecov upload
  .github/workflows/pre_merge.yml
Labels: CI

#1081 Release 0.5.0
  .github/workflows/docs.yml
  CHANGELOG.md
  docs/source/tutorials/inference.rst
  src/anomalib/__init__.py
Labels: CI, Docs

#1088 Fix mypy pep561
  setup.py
Labels: Setup

#1090 📝 [Notebooks] Fix the broken formatting
  notebooks/500_use_cases/501_dobot/README.md
  notebooks/README.md
Labels: Notebooks

#1069 🧪 Add tests for tools
  requirements/dev.txt
  tests/pre_merge/tools/__init__.py
  tests/pre_merge/tools/conftest.py
  tests/pre_merge/tools/test_gradio_entrypoint.py
  tests/pre_merge/tools/test_lightning_entrypoint.py
  tests/pre_merge/tools/test_openvino_entrypoint.py
  tests/pre_merge/tools/test_test_entrypoint.py
  tests/pre_merge/tools/test_torch_entrypoint.py
  tests/pre_merge/tools/test_train_entrypoint.py
  tools/inference/gradio_inference.py
  tools/inference/lightning_inference.py
  tools/inference/openvino_inference.py
  tools/inference/torch_inference.py
  tools/test.py
  tools/train.py
  tox.ini
Labels: Dependencies, CI, Setup, Inference, Tests, Tools

#1035 Upgrade python to 3.10
  .ci/Dockerfile
  .ci/README.md
  .ci/cuda10.2.Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/code_scan.yml
  .github/workflows/docs.yml
  .github/workflows/pre_merge.yml
  CONTRIBUTING.md
  README.md
  docs/source/developer_guide/pre_commit_hooks.rst
  docs/source/developer_guide/using_tox.rst
  docs/source/getting_started/installation/cloud_services/azure_ml.rst
  docs/source/getting_started/installation/environment_managers/conda.rst
  docs/source/getting_started/installation/index.rst
  docs/source/getting_started/installation/operating_systems/linux/ubuntu.rst
  tox.ini
Labels: CI, Setup, Docs

#1000 [Custom Loops POC] VisualizerCallback -> Logger
  pyproject.toml
  src/anomalib/models/cfa/config.yaml
  src/anomalib/models/cflow/config.yaml
  src/anomalib/models/csflow/config.yaml
  src/anomalib/models/dfkde/config.yaml
  src/anomalib/models/dfm/config.yaml
  src/anomalib/models/draem/config.yaml
  src/anomalib/models/fastflow/config.yaml
  src/anomalib/models/ganomaly/config.yaml
  src/anomalib/models/padim/config.yaml
  src/anomalib/models/patchcore/config.yaml
  src/anomalib/models/reverse_distillation/config.yaml
  src/anomalib/models/rkde/config.yaml
  src/anomalib/models/stfpm/config.yaml
  src/anomalib/post_processing/visualizer.py
  src/anomalib/trainer/connectors/__init__.py
  src/anomalib/trainer/connectors/checkpoint_connector.py
  src/anomalib/trainer/connectors/metrics_connector.py
  src/anomalib/trainer/connectors/normalizer/__init__.py
  src/anomalib/trainer/connectors/normalizer/base.py
  src/anomalib/trainer/connectors/normalizer/cdf.py
  src/anomalib/trainer/connectors/normalizer/min_max.py
  src/anomalib/trainer/connectors/normalizer/utils.py
  src/anomalib/trainer/connectors/post_processing_connector.py
  src/anomalib/trainer/connectors/thresholding_connector.py
  src/anomalib/trainer/connectors/visualization_connector.py
  src/anomalib/trainer/loops/one_class/predict.py
  src/anomalib/trainer/loops/one_class/test.py
  src/anomalib/trainer/loops/one_class/validate.py
  src/anomalib/trainer/trainer.py
  src/anomalib/trainer/utils/__init__.py
  src/anomalib/utils/callbacks/__init__.py
  src/anomalib/utils/callbacks/visualizer/__init__.py
  src/anomalib/utils/callbacks/visualizer/visualizer_base.py
  src/anomalib/utils/callbacks/visualizer/visualizer_image.py
  src/anomalib/utils/callbacks/visualizer/visualizer_metric.py
  src/anomalib/utils/cli/cli.py
  src/anomalib/utils/loggers/__init__.py
  src/anomalib/utils/loggers/file_system.py
  tools/train.py
Labels: Setup, Tools

#1097 Update code-scan workflow to use Trivy
  .ci/trivy.yaml
  .github/workflows/code_scan.yml
  tox.ini
Labels: CI, Setup

#1101 Patch release 0.5.1
  CHANGELOG.md
  notebooks/000_getting_started/001_getting_started.ipynb
  pyproject.toml
  src/anomalib/__init__.py
  src/anomalib/deploy/inferencers/openvino_inferencer.py
  src/anomalib/utils/callbacks/nncf/callback.py
  src/anomalib/utils/sweep/helpers/inference.py
  tools/inference/gradio_inference.py
  tools/inference/openvino_inference.py
Labels: Setup, Inference, Docs, Tools, Notebooks

#1104 Update main to dev
  CHANGELOG.md
  src/anomalib/__init__.py
Labels: Docs

#1102 Pass codedov token from environment
  .ci/README.md
  .github/workflows/pre_merge.yml
Labels: CI

#1032 [Custom loops PoC] Extend compatibility to tests
  src/anomalib/deploy/__init__.py
  src/anomalib/deploy/export.py
  src/anomalib/models/csflow/config.yaml
  src/anomalib/models/csflow/lightning_model.py
  src/anomalib/trainer/connectors/thresholding_connector.py
  src/anomalib/trainer/connectors/visualization_connector.py
  src/anomalib/trainer/loops/one_class/validate.py
  src/anomalib/utils/callbacks/export.py
  src/anomalib/utils/hpo/runners.py
  src/anomalib/utils/loggers/__init__.py
  src/anomalib/utils/loggers/comet.py
  tests/helpers/dataloaders/tensor.py
  tests/helpers/model.py
  tests/pre_merge/deploy/test_inferencer.py
  tests/pre_merge/integration/__init__.py
  tests/pre_merge/post_processing/test_visualizer.py
  tests/pre_merge/tools/conftest.py
  tests/pre_merge/tools/test_gradio_entrypoint.py
  tests/pre_merge/tools/test_lightning_entrypoint.py
  tests/pre_merge/tools/test_openvino_entrypoint.py
  tests/pre_merge/tools/test_torch_entrypoint.py
  tests/pre_merge/tools/test_train_entrypoint.py
  tests/pre_merge/trainer/__init__.py
  tests/pre_merge/trainer/anomalib_trainer/__init__.py
  tests/pre_merge/trainer/anomalib_trainer/dummy_model.py
  tests/pre_merge/trainer/anomalib_trainer/test_trainer.py
  tests/pre_merge/trainer/metrics_manager/__init__.py
  tests/pre_merge/trainer/metrics_manager/data/config-good-00.yaml
  tests/pre_merge/trainer/metrics_manager/data/config-good-01.yaml
  tests/pre_merge/trainer/metrics_manager/test_metrics_manager.py
  tests/pre_merge/trainer/normalizer/__init__.py
  tests/pre_merge/trainer/normalizer/test_normalizer.py
  tests/pre_merge/trainer/visualization_manager/__init__.py
  tests/pre_merge/trainer/visualization_manager/dummy_lightning_model.py
  tests/pre_merge/trainer/visualization_manager/test_visualization_manager.py
  tests/pre_merge/utils/callbacks/export_callback/dummy_lightning_model.py
  tests/pre_merge/utils/callbacks/export_callback/test_export.py
  tests/pre_merge/utils/callbacks/metrics_configuration_callback/test_metrics_configuration_callback.py
  tests/pre_merge/utils/callbacks/visualizer_callback/test_visualizer.py
  tests/pre_merge/utils/loggers/test_get_logger.py
  tests/pre_merge/utils/metrics/test_adaptive_threshold.py
  tools/benchmarking/benchmark.py
  tools/benchmarking/utils/metrics.py
Labels: Tests, Benchmarking, Tools
