Repository openvinotoolkit/anomalib, pull requests merged in 2023-02, with the labels that each got.

#882 Fix minor logic bug detecting empty list of images
  anomalib/data/utils/image.py
Labels: Data

#879 Changed the type of root in data modules
  anomalib/data/avenue.py
  anomalib/data/btech.py
  anomalib/data/mvtec.py
  anomalib/data/shanghaitech.py
  anomalib/data/ucsd_ped.py
  anomalib/data/visa.py
Labels: Data

#885 [CI] Update coverage tool to codecov for pre-merge
  .github/workflows/pre_merge.yml
  README.md
Labels: CI, Docs

#886 Update badge url for coverage to main branch
  README.md
Labels: Docs

#883 Loosen timm version
  requirements/base.txt
Labels: Dependencies

#863 🧪 📒 Add `nbmake` to test the Jupyter notebooks
  .github/workflows/pre_merge.yml
  .pre-commit-config.yaml
  anomalib/data/utils/image.py
  notebooks/000_getting_started/001_getting_started.ipynb
  notebooks/100_datamodules/101_btech.ipynb
  notebooks/100_datamodules/102_mvtec.ipynb
  notebooks/100_datamodules/103_folder.ipynb
  notebooks/100_datamodules/104_tiling.ipynb
  notebooks/200_models/201_fastflow.ipynb
  notebooks/300_benchmarking/302_hpo_wandb.ipynb
  notebooks/400_openvino/nncf.ipynb
  pyproject.toml
  requirements/dev.txt
  requirements/openvino.txt
  tox.ini
Labels: Dependencies, CI, Data, Setup, Notebooks

#892 🩹 Patch requirements
  anomalib/utils/loggers/comet.py
  anomalib/utils/loggers/tensorboard.py
  anomalib/utils/loggers/wandb.py
  requirements/base.txt
  requirements/extras.txt
  setup.py
  tests/pre_merge/utils/loggers/test_get_logger.py
  tox.ini
Labels: Dependencies, CI, Setup, Logger, Tests

#870 Bump up PyTorch Lightning version to v1.9.*
  CHANGELOG.md
  anomalib/data/btech.py
  anomalib/models/cfa/config.yaml
  anomalib/models/cfa/lightning_model.py
  anomalib/models/cflow/config.yaml
  anomalib/models/cflow/lightning_model.py
  anomalib/models/components/base/anomaly_module.py
  anomalib/models/csflow/config.yaml
  anomalib/models/csflow/lightning_model.py
  anomalib/models/dfkde/config.yaml
  anomalib/models/dfkde/lightning_model.py
  anomalib/models/dfm/config.yaml
  anomalib/models/dfm/lightning_model.py
  anomalib/models/draem/config.yaml
  anomalib/models/draem/lightning_model.py
  anomalib/models/fastflow/config.yaml
  anomalib/models/fastflow/lightning_model.py
  anomalib/models/ganomaly/config.yaml
  anomalib/models/ganomaly/lightning_model.py
  anomalib/models/padim/config.yaml
  anomalib/models/padim/lightning_model.py
  anomalib/models/patchcore/config.yaml
  anomalib/models/patchcore/lightning_model.py
  anomalib/models/reverse_distillation/config.yaml
  anomalib/models/reverse_distillation/lightning_model.py
  anomalib/models/rkde/config.yaml
  anomalib/models/rkde/lightning_model.py
  anomalib/models/stfpm/config.yaml
  anomalib/models/stfpm/lightning_model.py
  anomalib/pre_processing/transforms/custom.py
  anomalib/utils/callbacks/cdf_normalization.py
  anomalib/utils/callbacks/export.py
  anomalib/utils/callbacks/graph.py
  anomalib/utils/callbacks/metrics_configuration.py
  anomalib/utils/callbacks/min_max_normalization.py
  anomalib/utils/callbacks/model_loader.py
  anomalib/utils/callbacks/nncf/callback.py
  anomalib/utils/callbacks/post_processing_configuration.py
  anomalib/utils/callbacks/tiler_configuration.py
  anomalib/utils/callbacks/timer.py
  anomalib/utils/callbacks/visualizer/visualizer_image.py
  anomalib/utils/callbacks/visualizer/visualizer_metric.py
  anomalib/utils/cli/cli.py
  anomalib/utils/hpo/runners.py
  anomalib/utils/loggers/__init__.py
  anomalib/utils/loggers/comet.py
  anomalib/utils/loggers/tensorboard.py
  anomalib/utils/loggers/wandb.py
  requirements/base.txt
  requirements/extras.txt
  setup.py
  tests/pre_merge/utils/callbacks/export_callback/test_export.py
  tests/pre_merge/utils/callbacks/metrics_configuration_callback/test_metrics_configuration_callback.py
  tests/pre_merge/utils/callbacks/visualizer_callback/test_visualizer.py
  tests/pre_merge/utils/loggers/test_get_logger.py
  tools/train.py
  tox.ini
Labels: Callbacks, Dependencies, CI, Data, Pre-Processing, Setup, Logger, CLI, Tests, Docs, Tools

#887 [RC Release] - v0.4.0rc1
  CHANGELOG.md
  README.md
  anomalib/__init__.py
  anomalib/config/config.py
  anomalib/models/components/feature_extractors/timm.py
  configs/model/cfa.yaml
  configs/model/cflow.yaml
  configs/model/dfkde.yaml
  configs/model/dfm.yaml
  configs/model/draem.yaml
  configs/model/fastflow.yaml
  configs/model/ganomaly.yaml
  configs/model/padim.yaml
  configs/model/patchcore.yaml
  configs/model/reverse_distillation.yaml
  configs/model/stfpm.yaml
Labels: Config, Docs

#894 Change the version to dev, and fix image paths in readme file.
  README.md
  anomalib/__init__.py
Labels: Docs

#896 [CI] Added codecov token argument
  .github/workflows/pre_merge.yml
Labels: CI

#902 Loosen torchvision and torchtext version constraints
  requirements/base.txt
Labels: Dependencies

#904 Bump version to `0.4.0rc2`
  CHANGELOG.md
  anomalib/__init__.py
Labels: Docs

#906 Add GitPython to requirements/base.txt
  requirements/extras.txt
Labels: Dependencies

#926 adding robot/training notebooks
  .gitignore
  notebooks/500_use_cases/501_dobot/501a_Dataset_creation_and_Inference_with_a_robotic_arm.ipynb
  notebooks/500_use_cases/501_dobot/501b_Training_a_model_with_cubes_from_a_robotic_arm.ipynb
  notebooks/500_use_cases/501_dobot/README.md
  notebooks/500_use_cases/501_dobot/cubes_config.yaml
  notebooks/500_use_cases/dobot/501_1_Dataset_creation_and_Inference_with_a_robotic_arm.ipynb
  notebooks/500_use_cases/dobot/501_2_Training_a_model_with_cubes_from_a_robotic_arm.ipynb
Labels: Notebooks

#927 Dobot
  .gitignore
  notebooks/500_use_cases/501_dobot/501a_Dataset_creation_and_Inference_with_a_robotic_arm.ipynb
  notebooks/500_use_cases/501_dobot/501b_Training_a_model_with_cubes_from_a_robotic_arm.ipynb
  notebooks/500_use_cases/501_dobot/README.md
  notebooks/500_use_cases/dobot/501_1_Dataset_creation_and_Inference_with_a_robotic_arm.ipynb
  notebooks/500_use_cases/dobot/501_2_Training_a_model_with_cubes_from_a_robotic_arm.ipynb
  notebooks/500_use_cases/dobot/README.md
  notebooks/500_use_cases/dobot/cubes_config.yaml
  requirements/base.txt
  requirements/extras.txt
Labels: Dependencies, Notebooks

#928 📝Add Dobot Notebooks
  .gitignore
  notebooks/500_use_cases/501_dobot/501a_Dataset_creation_and_Inference_with_a_robotic_arm.ipynb
  notebooks/500_use_cases/501_dobot/501b_Training_a_model_with_cubes_from_a_robotic_arm.ipynb
  notebooks/500_use_cases/501_dobot/README.md
  notebooks/500_use_cases/501_dobot/cubes_config.yaml
  requirements/base.txt
  tox.ini
Labels: Dependencies, CI, Setup, Notebooks

#932 Bump OpenVINO version
  requirements/openvino.txt
Labels: Dependencies
