Repository openvinotoolkit/anomalib, pull requests merged in 2023-04, with the labels that each got.

#995 Add contributors to `README.md`
  README.md
Labels: Docs

#972 Fixed openvino_inferencer in gradio_inference
  tools/inference/gradio_inference.py
Labels: Inference, Tools

#997 Fix issue in tutorial
  docs/source/how_to_guides/train_custom_data.rst
Labels: Docs

#1001 Remove config from torch inferencer
  README.md
  notebooks/000_getting_started/001_getting_started.ipynb
  notebooks/400_openvino/401_nncf.ipynb
  src/anomalib/deploy/export.py
  src/anomalib/deploy/inferencers/torch_inferencer.py
  src/anomalib/models/cfa/config.yaml
  src/anomalib/models/cflow/config.yaml
  src/anomalib/models/cflow/utils.py
  src/anomalib/models/components/flow/__init__.py
  src/anomalib/models/components/flow/all_in_one_block.py
  src/anomalib/models/csflow/config.yaml
  src/anomalib/models/dfkde/config.yaml
  src/anomalib/models/dfm/config.yaml
  src/anomalib/models/draem/config.yaml
  src/anomalib/models/fastflow/config.yaml
  src/anomalib/models/fastflow/torch_model.py
  src/anomalib/models/padim/config.yaml
  src/anomalib/models/reverse_distillation/config.yaml
  src/anomalib/models/rkde/config.yaml
  src/anomalib/models/stfpm/config.yaml
  src/anomalib/utils/callbacks/__init__.py
  src/anomalib/utils/sweep/helpers/inference.py
  tests/pre_merge/deploy/test_inferencer.py
  tests/pre_merge/utils/callbacks/export_callback/test_export.py
  tools/benchmarking/benchmark.py
  tools/inference/gradio_inference.py
  tools/inference/torch_inference.py
Labels: Inference, Tests, Docs, Benchmarking, Tools, Notebooks

#1019 Add codeowners file
  .github/CODEOWNERS
Labels: CI

#1004 enable auto-fixing for ruff in pre-commit
  .pre-commit-config.yaml
Labels: Setup

#1023 Configure reference frame for multi-frame video clips
  CHANGELOG.md
  src/anomalib/data/base/video.py
  src/anomalib/post_processing/visualizer.py
  tests/pre_merge/datasets/test_video.py
Labels: Tests, Docs

#1038 Make anomalib PEP 561 compliant for mypy
  MANIFEST.in
  src/anomalib/py.typed
Labels: Setup

#1058 [Bug: 865] datamodule.setup() assertion failed
  notebooks/000_getting_started/001_getting_started.ipynb
Labels: Notebooks, T4

#1044 Refactor strings and ints into enum.Enum
  src/anomalib/data/__init__.py
  src/anomalib/data/btech.py
  src/anomalib/data/folder.py
  src/anomalib/data/folder_3d.py
  src/anomalib/data/mvtec.py
  src/anomalib/data/mvtec_3d.py
  src/anomalib/data/utils/__init__.py
  src/anomalib/data/utils/label.py
  src/anomalib/data/utils/path.py
  src/anomalib/models/reverse_distillation/anomaly_map.py
  src/anomalib/models/reverse_distillation/lightning_model.py
  src/anomalib/models/reverse_distillation/torch_model.py
  src/anomalib/post_processing/__init__.py
  src/anomalib/post_processing/visualizer.py
  src/anomalib/pre_processing/__init__.py
  src/anomalib/pre_processing/tiler.py
  src/anomalib/utils/callbacks/tiler_configuration.py
  src/anomalib/utils/callbacks/visualizer/visualizer_base.py
  tests/pre_merge/datasets/test_dataset.py
Labels: Refactor, Tests, Hackathon, T3
