Repository openvinotoolkit/anomalib, pull requests merged in 2023-10, with the labels that each got.

#1382 Add tag to workflow
  .github/workflows/docs.yml
  .github/workflows/nightly.yml
  .github/workflows/pre_merge.yml
Labels: CI

#1359 [Custom Trainer] Partially fix tests
  src/anomalib/engine/engine.py
  src/anomalib/models/ai_vad/lightning_model.py
  src/anomalib/models/cfa/lightning_model.py
  src/anomalib/models/cflow/lightning_model.py
  src/anomalib/models/components/base/anomaly_module.py
  src/anomalib/models/csflow/lightning_model.py
  src/anomalib/models/dfkde/lightning_model.py
  src/anomalib/models/dfm/lightning_model.py
  src/anomalib/models/draem/lightning_model.py
  src/anomalib/models/efficient_ad/lightning_model.py
  src/anomalib/models/fastflow/lightning_model.py
  src/anomalib/models/ganomaly/lightning_model.py
  src/anomalib/models/padim/lightning_model.py
  src/anomalib/models/patchcore/lightning_model.py
  src/anomalib/models/reverse_distillation/lightning_model.py
  src/anomalib/models/rkde/lightning_model.py
  src/anomalib/models/stfpm/lightning_model.py
  src/anomalib/utils/callbacks/visualizer/utils.py
  src/anomalib/utils/metrics/threshold/manual_threshold.py
  tests/helpers/model.py
  tests/pre_merge/deploy/test_inferencer.py
  tests/pre_merge/tools/test_gradio_entrypoint.py
  tests/pre_merge/tools/test_openvino_entrypoint.py
  tests/pre_merge/tools/test_torch_entrypoint.py
  tests/pre_merge/tools/test_train_entrypoint.py
  tests/pre_merge/utils/callbacks/export_callback/dummy_lightning_model.py
  tests/pre_merge/utils/callbacks/metrics_configuration_callback/__init__.py
  tests/pre_merge/utils/callbacks/metrics_configuration_callback/data/config-good-00.yaml
  tests/pre_merge/utils/callbacks/metrics_configuration_callback/data/config-good-01.yaml
  tests/pre_merge/utils/callbacks/metrics_configuration_callback/test_metrics_configuration_callback.py
  tests/pre_merge/utils/callbacks/normalization_callback/test_normalization_callback.py
  tests/pre_merge/utils/callbacks/visualizer_callback/dummy_lightning_model.py
  tests/pre_merge/utils/callbacks/visualizer_callback/test_visualizer.py
  tests/pre_merge/utils/metrics/test_adaptive_threshold.py
Labels: Tests

#1381 [Custom Trainer] Add CLI support
  src/anomalib/config/config.py
  src/anomalib/config/utils.py
  src/anomalib/data/__init__.py
  src/anomalib/data/utils/image.py
  src/anomalib/deploy/__init__.py
  src/anomalib/deploy/export.py
  src/anomalib/models/__init__.py
  src/anomalib/models/padim/config.yaml
  src/anomalib/models/padim/lightning_model.py
  src/anomalib/utils/benchmarking/__init__.py
  src/anomalib/utils/benchmarking/benchmark.py
  src/anomalib/utils/benchmarking/utils.py
  src/anomalib/utils/callbacks/__init__.py
  src/anomalib/utils/callbacks/normalization/utils.py
  src/anomalib/utils/callbacks/thresholding.py
  src/anomalib/utils/cli/cli.py
  src/anomalib/utils/cli/subcommands/__init__.py
  src/anomalib/utils/cli/subcommands/export.py
  src/anomalib/utils/hpo/__init__.py
  src/anomalib/utils/hpo/runners.py
  src/anomalib/utils/hpo/sweep.py
  src/anomalib/utils/loggers/__init__.py
  tools/benchmarking/benchmark.py
  tools/benchmarking/benchmark_params.yaml
  tools/benchmarking/utils/__init__.py
  tools/hpo/sweep.py
  tools/train.py
Labels: Benchmarking, HPO, Tools

#1391 [Custom Trainer] Partially restore tests
  src/anomalib/config/config.py
  src/anomalib/models/padim/__init__.py
  src/anomalib/models/padim/config.yaml
  src/anomalib/models/padim/lightning_model.py
  src/anomalib/models/stfpm/config.yaml
  src/anomalib/utils/benchmarking/benchmark.py
  src/anomalib/utils/benchmarking/utils.py
  src/anomalib/utils/callbacks/__init__.py
  src/anomalib/utils/callbacks/normalization/cdf_normalization.py
  src/anomalib/utils/hpo/runners.py
  src/anomalib/utils/loggers/__init__.py
  tests/helpers/config.py
  tests/helpers/model.py
  tests/nightly/models/test_model_nightly.py
  tests/pre_merge/config/test_config.py
  tests/pre_merge/datasets/test_datamodule.py
  tests/pre_merge/deploy/test_inferencer.py
  tests/pre_merge/models/test_model_premerge.py
  tests/pre_merge/post_processing/test_visualizer.py
  tests/pre_merge/tools/conftest.py
  tests/pre_merge/utils/callbacks/export_callback/dummy_config.yml
  tests/pre_merge/utils/callbacks/export_callback/dummy_lightning_model.py
  tests/pre_merge/utils/callbacks/export_callback/test_export.py
  tests/pre_merge/utils/callbacks/normalization_callback/test_normalization_callback.py
  tests/pre_merge/utils/callbacks/visualizer_callback/test_visualizer.py
  tests/pre_merge/utils/loggers/test_get_logger.py
  tests/pre_merge/utils/metrics/test_adaptive_threshold.py
  tests/pre_merge/utils/sweep/conftest.py
  tests/pre_merge/utils/sweep/test_throughput.py
  tests/pre_merge/utils/test_config.py
  tools/benchmarking/benchmark.py
  tools/inference/lightning_inference.py
  tools/test.py
Labels: Inference, Tests, Benchmarking, Tools

#1390 Add new ruff rules
  notebooks/000_getting_started/001_getting_started.ipynb
  notebooks/100_datamodules/104_tiling.ipynb
  notebooks/200_models/201_fastflow.ipynb
  pyproject.toml
  tox.ini
Labels: CI, Setup, Notebooks

#1394 Code quality/enable rules
  notebooks/200_models/201_fastflow.ipynb
  pyproject.toml
  src/anomalib/data/avenue.py
  src/anomalib/data/base/dataset.py
  src/anomalib/data/base/depth.py
  src/anomalib/data/base/video.py
  src/anomalib/data/btech.py
  src/anomalib/data/folder.py
  src/anomalib/data/folder_3d.py
  src/anomalib/data/inference.py
  src/anomalib/data/kolektor.py
  src/anomalib/data/mvtec.py
  src/anomalib/data/mvtec_3d.py
  src/anomalib/data/shanghaitech.py
  src/anomalib/data/synthetic.py
  src/anomalib/data/ucsd_ped.py
  src/anomalib/data/utils/image.py
  src/anomalib/data/utils/transform.py
  src/anomalib/data/visa.py
  src/anomalib/deploy/inferencers/openvino_inferencer.py
  src/anomalib/deploy/inferencers/torch_inferencer.py
  src/anomalib/engine/engine.py
  src/anomalib/models/ai_vad/clip/model.py
  src/anomalib/models/ai_vad/flow.py
  src/anomalib/models/cfa/anomaly_map.py
  src/anomalib/models/cfa/torch_model.py
  src/anomalib/models/cflow/anomaly_map.py
  src/anomalib/models/cflow/lightning_model.py
  src/anomalib/models/components/filters/blur.py
  src/anomalib/models/components/flow/all_in_one_block.py
  src/anomalib/models/components/layers/sspcab.py
  src/anomalib/models/components/sampling/k_center_greedy.py
  src/anomalib/models/csflow/anomaly_map.py
  src/anomalib/models/csflow/torch_model.py
  src/anomalib/models/dfkde/torch_model.py
  src/anomalib/models/dfm/torch_model.py
  src/anomalib/models/efficient_ad/lightning_model.py
  src/anomalib/models/efficient_ad/torch_model.py
  src/anomalib/models/fastflow/anomaly_map.py
  src/anomalib/models/padim/anomaly_map.py
  src/anomalib/models/padim/torch_model.py
  src/anomalib/models/patchcore/anomaly_map.py
  src/anomalib/models/patchcore/torch_model.py
  src/anomalib/models/reverse_distillation/anomaly_map.py
  src/anomalib/models/stfpm/anomaly_map.py
  src/anomalib/models/stfpm/loss.py
  src/anomalib/pre_processing/pre_process.py
  src/anomalib/pre_processing/tiler.py
  src/anomalib/utils/loggers/__init__.py
  tests/helpers/dummy.py
  tests/pre_merge/pre_processing/transforms/test_transforms.py
  tests/pre_merge/tools/conftest.py
  tests/pre_merge/utils/loggers/test_get_logger.py
  tests/pre_merge/utils/sweep/test_throughput.py
Labels: Setup, Tests, Notebooks

#1411 Address tiler issues
  notebooks/100_datamodules/104_tiling.ipynb
  src/anomalib/models/ganomaly/config.yaml
  src/anomalib/pre_processing/tiler.py
  src/anomalib/utils/callbacks/__init__.py
  src/anomalib/utils/callbacks/tiler_configuration.py
Labels: Notebooks

#1407 Enable Ruff Rules - Part 6
  .pre-commit-config.yaml
  docs/source/conf.py
  notebooks/000_getting_started/001_getting_started.ipynb
  notebooks/100_datamodules/101_btech.ipynb
  notebooks/100_datamodules/103_folder.ipynb
  notebooks/100_datamodules/104_tiling.ipynb
  notebooks/200_models/201_fastflow.ipynb
  notebooks/300_benchmarking/301_benchmarking.ipynb
  notebooks/300_benchmarking/302_hpo_wandb.ipynb
  notebooks/500_use_cases/501_dobot/501b_inference_with_a_robotic_arm.ipynb
  pyproject.toml
  setup.py
  src/anomalib/config/config.py
  src/anomalib/config/utils.py
  src/anomalib/data/base/dataset.py
  src/anomalib/data/utils/augmenter.py
  src/anomalib/data/utils/boxes.py
  src/anomalib/data/utils/generators/perlin.py
  src/anomalib/data/utils/image.py
  src/anomalib/data/utils/path.py
  src/anomalib/data/utils/transform.py
  src/anomalib/deploy/inferencers/torch_inferencer.py
  src/anomalib/models/__init__.py
  src/anomalib/models/ai_vad/density.py
  src/anomalib/models/cfa/torch_model.py
  src/anomalib/models/components/feature_extractors/timm.py
  src/anomalib/models/components/feature_extractors/torchfx.py
  src/anomalib/models/components/flow/all_in_one_block.py
  src/anomalib/models/components/sampling/k_center_greedy.py
  src/anomalib/models/csflow/torch_model.py
  src/anomalib/models/draem/lightning_model.py
  src/anomalib/models/efficient_ad/lightning_model.py
  src/anomalib/models/ganomaly/lightning_model.py
  src/anomalib/models/padim/lightning_model.py
  src/anomalib/models/padim/torch_model.py
  src/anomalib/models/reverse_distillation/components/bottleneck.py
  src/anomalib/models/reverse_distillation/components/de_resnet.py
  src/anomalib/models/stfpm/anomaly_map.py
  src/anomalib/post_processing/normalization/cdf.py
  src/anomalib/post_processing/normalization/min_max.py
  src/anomalib/pre_processing/pre_process.py
  src/anomalib/pre_processing/tiler.py
  src/anomalib/utils/benchmarking/benchmark.py
  src/anomalib/utils/benchmarking/utils.py
  src/anomalib/utils/callbacks/__init__.py
  src/anomalib/utils/callbacks/nncf/utils.py
  src/anomalib/utils/callbacks/normalization/utils.py
  src/anomalib/utils/callbacks/post_processor.py
  src/anomalib/utils/callbacks/thresholding.py
  src/anomalib/utils/callbacks/timer.py
  src/anomalib/utils/callbacks/visualizer/utils.py
  src/anomalib/utils/hpo/config.py
  src/anomalib/utils/loggers/__init__.py
  src/anomalib/utils/metrics/aupro.py
  src/anomalib/utils/metrics/min_max.py
  src/anomalib/utils/metrics/threshold/f1_adaptive_threshold.py
  src/anomalib/utils/metrics/threshold/manual_threshold.py
  src/anomalib/utils/sweep/config.py
  tests/pre_merge/pre_processing/transforms/test_transforms.py
Labels: Setup, Tests, Notebooks, Docs

#1408 Enable Ruff Rules - Part 7
  docs/source/conf.py
  notebooks/300_benchmarking/301_benchmarking.ipynb
  pyproject.toml
  setup.py
  src/anomalib/config/config.py
  src/anomalib/data/folder.py
  src/anomalib/data/folder_3d.py
  src/anomalib/data/kolektor.py
  src/anomalib/data/mvtec.py
  src/anomalib/data/mvtec_3d.py
  src/anomalib/data/synthetic.py
  src/anomalib/data/utils/augmenter.py
  src/anomalib/data/utils/download.py
  src/anomalib/data/utils/split.py
  src/anomalib/deploy/export.py
  src/anomalib/deploy/inferencers/torch_inferencer.py
  src/anomalib/models/ai_vad/density.py
  src/anomalib/models/ai_vad/lightning_model.py
  src/anomalib/models/cfa/anomaly_map.py
  src/anomalib/models/cfa/lightning_model.py
  src/anomalib/models/cfa/loss.py
  src/anomalib/models/cfa/torch_model.py
  src/anomalib/models/cflow/lightning_model.py
  src/anomalib/models/components/feature_extractors/timm.py
  src/anomalib/models/components/flow/all_in_one_block.py
  src/anomalib/models/csflow/lightning_model.py
  src/anomalib/models/dfkde/lightning_model.py
  src/anomalib/models/dfm/lightning_model.py
  src/anomalib/models/draem/lightning_model.py
  src/anomalib/models/efficient_ad/lightning_model.py
  src/anomalib/models/fastflow/lightning_model.py
  src/anomalib/models/fastflow/torch_model.py
  src/anomalib/models/ganomaly/lightning_model.py
  src/anomalib/models/padim/torch_model.py
  src/anomalib/models/patchcore/lightning_model.py
  src/anomalib/models/reverse_distillation/lightning_model.py
  src/anomalib/models/rkde/lightning_model.py
  src/anomalib/models/stfpm/lightning_model.py
  src/anomalib/pre_processing/pre_process.py
  src/anomalib/utils/benchmarking/benchmark.py
  src/anomalib/utils/callbacks/__init__.py
  src/anomalib/utils/callbacks/graph.py
  src/anomalib/utils/callbacks/nncf/callback.py
  src/anomalib/utils/callbacks/nncf/utils.py
  src/anomalib/utils/callbacks/post_processor.py
  src/anomalib/utils/callbacks/thresholding.py
  src/anomalib/utils/cli/cli.py
  src/anomalib/utils/exceptions/imports.py
  src/anomalib/utils/loggers/__init__.py
  src/anomalib/utils/metrics/__init__.py
  src/anomalib/utils/metrics/aupr.py
  src/anomalib/utils/metrics/aupro.py
  src/anomalib/utils/metrics/auroc.py
  src/anomalib/utils/metrics/optimal_f1.py
  src/anomalib/utils/metrics/threshold/f1_adaptive_threshold.py
  tests/pre_merge/datasets/test_dataset.py
  tests/pre_merge/utils/loggers/test_get_logger.py
  tools/inference/lightning_inference.py
  tools/inference/openvino_inference.py
  tools/inference/torch_inference.py
Labels: Setup, Inference, Tests, Tools, Notebooks, Docs

#1389 Refactor Reverse Distillation to match official code
  docs/source/images/reverse_distillation/results/0.png
  docs/source/images/reverse_distillation/results/1.png
  docs/source/images/reverse_distillation/results/2.png
  src/anomalib/models/reverse_distillation/README.md
  src/anomalib/models/reverse_distillation/components/bottleneck.py
  src/anomalib/models/reverse_distillation/config.yaml
  src/anomalib/models/reverse_distillation/lightning_model.py
  src/anomalib/models/reverse_distillation/loss.py
  src/anomalib/models/reverse_distillation/torch_model.py
Labels: Docs

#1420 Merge main into feature/custom_trainer
  docs/source/images/reverse_distillation/results/0.png
  docs/source/images/reverse_distillation/results/1.png
  docs/source/images/reverse_distillation/results/2.png
  src/anomalib/models/ganomaly/config.yaml
  src/anomalib/models/reverse_distillation/README.md
  src/anomalib/models/reverse_distillation/components/bottleneck.py
  src/anomalib/models/reverse_distillation/config.yaml
  src/anomalib/models/reverse_distillation/lightning_model.py
  src/anomalib/models/reverse_distillation/loss.py
  src/anomalib/models/reverse_distillation/torch_model.py
  src/anomalib/pre_processing/tiler.py
  src/anomalib/utils/callbacks/tiler_configuration.py
Labels: Docs

#1423 Enable Ruff Rules - Part 10
  pyproject.toml
  src/anomalib/models/ai_vad/regions.py
  src/anomalib/models/cfa/torch_model.py
  src/anomalib/models/rkde/region_extractor.py
  src/anomalib/utils/benchmarking/utils.py
  src/anomalib/utils/cv/connected_components.py
Labels: Setup

#1396 [Custom Trainer] Add a verbose help output structure to the CLI
  requirements/base.txt
  src/anomalib/engine/engine.py
  src/anomalib/utils/cli/cli.py
  src/anomalib/utils/cli/help_formatter.py
  tests/pre_merge/utils/cli/__init__.py
  tests/pre_merge/utils/cli/test_help_formatter.py
Labels: Dependencies, Tests

#1142 Add DSR model
  README.md
  docs/source/images/dsr/architecture.png
  docs/source/reference_guide/algorithms/dsr.rst
  docs/source/reference_guide/algorithms/index.rst
  src/anomalib/models/__init__.py
  src/anomalib/models/dsr/LICENSE
  src/anomalib/models/dsr/README.md
  src/anomalib/models/dsr/__init__.py
  src/anomalib/models/dsr/anomaly_generator.py
  src/anomalib/models/dsr/config.yaml
  src/anomalib/models/dsr/lightning_model.py
  src/anomalib/models/dsr/loss.py
  src/anomalib/models/dsr/torch_model.py
  src/anomalib/models/efficient_ad/lightning_model.py
  tests/pre_merge/deploy/test_inferencer.py
  tests/pre_merge/models/test_model_premerge.py
Labels: Tests, Docs

#1055 Fix unexpected key pixel_metrics.AUPRO.fpr_limit
  src/anomalib/models/components/base/anomaly_module.py
  src/anomalib/utils/callbacks/metrics_configuration.py
  tests/pre_merge/utils/callbacks/metrics_configuration_callback/data/config-good-02-serialized.yaml
  tests/pre_merge/utils/callbacks/metrics_configuration_callback/data/config-good-02.yaml
  tests/pre_merge/utils/callbacks/metrics_configuration_callback/test_metrics_configuration_callback.py
Labels: Bug, Tests, Hackathon, T3

#1426 Add CLI Tests
  src/anomalib/data/ucsd_ped.py
  src/anomalib/engine/engine.py
  src/anomalib/models/ai_vad/lightning_model.py
  src/anomalib/models/dfkde/lightning_model.py
  src/anomalib/models/reverse_distillation/components/bottleneck.py
  src/anomalib/models/reverse_distillation/components/de_resnet.py
  src/anomalib/models/reverse_distillation/lightning_model.py
  src/anomalib/utils/callbacks/normalization/cdf_normalization.py
  src/anomalib/utils/cli/cli.py
  src/configs/data/ucsd_ped.yaml
  src/configs/model/ai_vad.yaml
  src/configs/model/dfkde.yaml
  src/configs/model/efficient_ad.yaml
  src/configs/model/ganomaly.yaml
  src/configs/model/padim.yaml
  src/configs/model/reverse_distillation.yaml
  tests/conftest.py
  tests/pre_merge/utils/callbacks/normalization_callback/__init__.py
  tests/pre_merge/utils/callbacks/normalization_callback/test_normalization_callback.py
  tests/v1/__init__.py
  tests/v1/integration/cli/__init__.py
  tests/v1/integration/cli/test_cli.py
  tests/v1/unit/__init__.py
  tests/v1/unit/utils/__init__.py
  tests/v1/unit/utils/callbacks/__init__.py
  tests/v1/unit/utils/callbacks/test_normalization_callback.py
  tox.ini
Labels: CI, Setup, Tests

#1439 Replace black with ruff formatter
  .pre-commit-config.yaml
  pyproject.toml
Labels: Setup

#1440 [Custom Trainer] Refactor export
  src/anomalib/deploy/__init__.py
  src/anomalib/deploy/export.py
  src/anomalib/utils/benchmarking/benchmark.py
  src/anomalib/utils/callbacks/export.py
  src/anomalib/utils/cli/cli.py
  src/anomalib/utils/cli/subcommands/__init__.py
  src/anomalib/utils/cli/subcommands/export.py
  tests/legacy/pre_merge/tools/test_gradio_entrypoint.py
  tests/legacy/pre_merge/tools/test_lightning_entrypoint.py
  tests/legacy/pre_merge/tools/test_openvino_entrypoint.py
  tests/legacy/pre_merge/tools/test_torch_entrypoint.py
Labels: Tests
