Repository openvinotoolkit/anomalib, pull requests merged in 2024-01, with the labels that each got.

#1534 OpenVINO NNCF updates
  CHANGELOG.md
  requirements/openvino.txt
  src/anomalib/cli/cli.py
  src/anomalib/deploy/export.py
  src/anomalib/deploy/inferencers/openvino_inferencer.py
  src/anomalib/engine/engine.py
  src/anomalib/pipelines/benchmarking/benchmark.py
  tests/integration/tools/test_gradio_entrypoint.py
  tests/integration/tools/test_openvino_entrypoint.py
  tests/unit/deploy/test_inferencer.py
Labels: Dependencies, Tests, Docs

#1562 Refactor/extensions custom dataset
  README.md
  src/anomalib/data/utils/path.py
Labels: Docs

#1594 ✏️ Refactor `ExportMode` to `ExportType`
  notebooks/000_getting_started/001_getting_started.ipynb
  notebooks/300_benchmarking/301_benchmarking.ipynb
  notebooks/400_openvino/401_nncf.ipynb
  src/anomalib/deploy/__init__.py
  src/anomalib/deploy/export.py
  src/anomalib/engine/engine.py
  tests/integration/cli/test_cli.py
  tests/unit/deploy/test_inferencer.py
  tests/unit/pipelines/sweep/test_throughput.py
Labels: Tests, Notebooks

#1596 📚 v1 - Modify the PR template
  .github/pull_request_template.md
Labels: CI

#1514 Modify `Engine.predict`
  src/anomalib/callbacks/normalization/min_max_normalization.py
  src/anomalib/callbacks/post_processor.py
  src/anomalib/cli/cli.py
  src/anomalib/data/base/datamodule.py
  src/anomalib/engine/engine.py
  src/anomalib/models/image/fastflow/README.md
  src/anomalib/pipelines/hpo/sweep.py
  src/anomalib/utils/visualization.py
  tests/helpers/data.py
  tests/integration/cli/test_cli.py
  tests/integration/model/test_models.py
  tools/inference/lightning_inference.py
Labels: Inference, Tests, Tools

#1608 Upgrade gradio version to 4.x
  requirements/loggers.txt
  src/anomalib/deploy/export.py
  src/anomalib/engine/engine.py
  src/anomalib/pipelines/benchmarking/benchmark.py
  tests/integration/tools/test_gradio_entrypoint.py
  tests/integration/tools/test_openvino_entrypoint.py
  tests/integration/tools/test_torch_entrypoint.py
  tests/unit/deploy/test_inferencer.py
  tests/unit/pipelines/sweep/test_throughput.py
  tools/inference/gradio_inference.py
Labels: Dependencies, Inference, Tests, Tools

#1544 ✍ InferenceDataset->PredictDataset
  notebooks/200_models/201_fastflow.ipynb
  src/anomalib/cli/cli.py
  src/anomalib/data/__init__.py
  src/anomalib/data/predict.py
  src/anomalib/engine/engine.py
  tests/integration/model/test_models.py
  tests/unit/data/test_inference.py
  tests/unit/utils/test_visualizer.py
  tools/inference/lightning_inference.py
Labels: Inference, Tests, Tools, Notebooks

#1611 📚 Modify the PR template
  .github/pull_request_template.md
Labels: CI

#1543 `FeatureExtractor` -> `TimmFeatureExtractor`
  src/anomalib/models/components/__init__.py
  src/anomalib/models/components/feature_extractors/__init__.py
  src/anomalib/models/components/feature_extractors/timm.py
  src/anomalib/models/components/feature_extractors/utils.py
  src/anomalib/models/image/cflow/torch_model.py
  src/anomalib/models/image/dfkde/torch_model.py
  src/anomalib/models/image/dfm/torch_model.py
  src/anomalib/models/image/padim/torch_model.py
  src/anomalib/models/image/patchcore/torch_model.py
  src/anomalib/models/image/reverse_distillation/torch_model.py
  src/anomalib/models/image/stfpm/loss.py
  src/anomalib/models/image/stfpm/torch_model.py
  tests/unit/models/test_feature_extractor.py
Labels: Tests

#1571 📘 Add custom data tutorial
  docs/source/markdown/guides/how_to/data/custom_data.md
  docs/source/markdown/guides/how_to/data/index.md
  docs/source/markdown/guides/how_to/index.md
  docs/source/markdown/guides/how_to/models/index.md
  docs/source/snippets/config/data/image/folder/classification/cli/default.yaml
  docs/source/snippets/config/data/image/folder/classification/cli/normal.yaml
  docs/source/snippets/config/data/image/folder/classification/cli/normal_and_synthetic.yaml
  docs/source/snippets/config/data/image/folder/segmentation/cli/default.yaml
  docs/source/snippets/config/data/image/folder/segmentation/cli/normal.yaml
  docs/source/snippets/config/data/image/folder/segmentation/cli/normal_and_synthetic.yaml
  docs/source/snippets/data/image/folder/classification/dataloader_values.txt
  docs/source/snippets/data/image/folder/classification/datamodule_attributes.txt
  docs/source/snippets/data/image/folder/classification/default.txt
  docs/source/snippets/data/image/folder/classification/normal.txt
  docs/source/snippets/data/image/folder/classification/normal_and_synthetic.txt
  docs/source/snippets/data/image/folder/segmentation/dataloader_values.txt
  docs/source/snippets/data/image/folder/segmentation/datamodule_attributes.txt
  docs/source/snippets/data/image/folder/segmentation/default.txt
  docs/source/snippets/data/image/folder/segmentation/normal.txt
  docs/source/snippets/data/image/folder/segmentation/normal_and_synthetic.txt
  docs/source/snippets/train/api/classification/model_and_engine.txt
  docs/source/snippets/train/api/segmentation/model_and_engine.txt
  src/configs/data/folder.yaml
Labels: Docs

#1620 Add URL verification for downloading dataset
  .pre-commit-config.yaml
  notebooks/000_getting_started/001_getting_started.ipynb
  notebooks/100_datamodules/101_btech.ipynb
  notebooks/100_datamodules/103_folder.ipynb
  notebooks/200_models/201_fastflow.ipynb
  src/anomalib/callbacks/nncf/callback.py
  src/anomalib/data/utils/download.py
  tox.ini
Labels: CI, Setup, Notebooks

#1630 🐞 Fix broken 501 notebooks
  notebooks/500_use_cases/501_dobot/501a_training_a_model_with_cubes_from_a_robotic_arm.ipynb
  notebooks/500_use_cases/501_dobot/501b_inference_with_a_robotic_arm.ipynb
Labels: Notebooks

#1643 🔒 Address path traversal issues
  .gitignore
  src/anomalib/data/utils/image.py
  tests/conftest.py
  tests/unit/data/utils/test_image.py
Labels: Tests

#1655 🔒 Add `SECURITY.md` file
  .github/pull_request_template.md
  SECURITY.md
Labels: CI, Docs

#1652 🔀 Merge main to v1
  README.md
  docs/source/images/dsr/architecture.png
  docs/source/images/uflow/diagram.png
  docs/source/images/uflow/iou.png
  docs/source/images/uflow/more-results.png
  docs/source/images/uflow/pixel-aupro.png
  docs/source/images/uflow/pixel-auroc.png
  docs/source/images/uflow/results-mvtec-anomalies.jpg
  docs/source/images/uflow/results-mvtec-good.jpg
  docs/source/images/uflow/results-others-anomalies.jpg
  docs/source/images/uflow/results-others-good.jpg
  docs/source/images/uflow/teaser.jpg
  docs/source/markdown/guides/reference/models/image/dsr.md
  docs/source/markdown/guides/reference/models/image/index.md
  docs/source/markdown/guides/reference/models/image/uflow.md
  setup.py
  src/anomalib/callbacks/metrics.py
  src/anomalib/models/__init__.py
  src/anomalib/models/components/base/anomaly_module.py
  src/anomalib/models/image/__init__.py
  src/anomalib/models/image/cfa/README.md
  src/anomalib/models/image/cflow/README.md
  src/anomalib/models/image/csflow/README.md
  src/anomalib/models/image/draem/lightning_model.py
  src/anomalib/models/image/dsr/LICENSE
  src/anomalib/models/image/dsr/README.md
  src/anomalib/models/image/dsr/__init__.py
  src/anomalib/models/image/dsr/anomaly_generator.py
  src/anomalib/models/image/dsr/lightning_model.py
  src/anomalib/models/image/dsr/loss.py
  src/anomalib/models/image/dsr/torch_model.py
  src/anomalib/models/image/efficient_ad/lightning_model.py
  src/anomalib/models/image/efficient_ad/torch_model.py
  src/anomalib/models/image/fastflow/README.md
  src/anomalib/models/image/padim/README.md
  src/anomalib/models/image/stfpm/README.md
  src/anomalib/models/image/uflow/README.md
  src/anomalib/models/image/uflow/__init__.py
  src/anomalib/models/image/uflow/anomaly_map.py
  src/anomalib/models/image/uflow/feature_extraction.py
  src/anomalib/models/image/uflow/lightning_model.py
  src/anomalib/models/image/uflow/loss.py
  src/anomalib/models/image/uflow/torch_model.py
  src/configs/model/draem.yaml
  src/configs/model/dsr.yaml
  src/configs/model/reverse_distillation.yaml
  src/configs/model/uflow.yaml
  tests/integration/model/test_models.py
  tests/unit/callbacks/metrics_configuration_callback/__init__.py
  tests/unit/callbacks/metrics_configuration_callback/data/config-good-00.yaml
  tests/unit/callbacks/metrics_configuration_callback/data/config-good-01.yaml
  tests/unit/callbacks/metrics_configuration_callback/data/config-good-02-serialized.yaml
  tests/unit/callbacks/metrics_configuration_callback/data/config-good-02.yaml
  tests/unit/callbacks/metrics_configuration_callback/test_metrics_configuration_callback.py
Labels: Setup, Tests, Docs

#1666 🔨 Fix the broken images on `README.md`
  README.md
  docs/source/_static/images/readme.png
Labels: Docs

#1667 📚 Remove github pages
  .github/workflows/docs.yml
Labels: CI

#1668 🔒 Validate path before processing
  src/anomalib/data/depth/folder_3d.py
  src/anomalib/data/depth/mvtec_3d.py
  src/anomalib/data/image/btech.py
  src/anomalib/data/image/folder.py
  src/anomalib/data/image/kolektor.py
  src/anomalib/data/image/mvtec.py
  src/anomalib/data/utils/__init__.py
  src/anomalib/data/utils/image.py
  src/anomalib/data/utils/path.py
  src/anomalib/data/video/avenue.py
  src/anomalib/data/video/shanghaitech.py
  src/anomalib/data/video/ucsd_ped.py
  tests/conftest.py
  tests/unit/data/utils/test_path.py
Labels: Tests

#1696 🐞 Fix GMM test
  requirements/base.txt
  tests/unit/models/components/clustering/test_gmm.py
Labels: Dependencies, Tests

#1693 🔨 Refactor Visualisation
  src/anomalib/callbacks/__init__.py
  src/anomalib/callbacks/visualizer.py
  src/anomalib/callbacks/visualizer/__init__.py
  src/anomalib/callbacks/visualizer/utils.py
  src/anomalib/callbacks/visualizer/visualizer_base.py
  src/anomalib/callbacks/visualizer/visualizer_image.py
  src/anomalib/callbacks/visualizer/visualizer_metric.py
  src/anomalib/cli/cli.py
  src/anomalib/data/utils/image.py
  src/anomalib/engine/engine.py
  src/anomalib/utils/config.py
  src/anomalib/utils/visualization/__init__.py
  src/anomalib/utils/visualization/base.py
  src/anomalib/utils/visualization/image.py
  src/anomalib/utils/visualization/metrics.py
  tests/unit/utils/callbacks/visualizer_callback/test_visualizer.py
  tests/unit/utils/test_visualizer.py
  tools/inference/lightning_inference.py
  tools/inference/openvino_inference.py
  tools/inference/torch_inference.py
Labels: Inference, Tests, Tools
