Repository openvinotoolkit/anomalib, pull requests merged in 2024-03, with the labels that each got.

#1800 📚 Update the getting started notebook
  notebooks/000_getting_started/001_getting_started.ipynb
Labels: Notebooks

#1823 Hot-fix wrong requirement for setup.py
  setup.py
Labels: Setup

#1839 🐞Fix the error if the device in masks_to_boxes is not both CPU and CUDA
  CHANGELOG.md
  src/anomalib/data/utils/boxes.py
Labels: Docs

#1840 🚧 Temporarily enable tests on hotfix branches
  .github/workflows/pre_merge.yml
Labels: CI

#1829 🔨 Migrate to custom precision recall curve
  requirements/core.txt
  src/anomalib/callbacks/metrics.py
  src/anomalib/engine/engine.py
  src/anomalib/metrics/__init__.py
  src/anomalib/metrics/aupr.py
  src/anomalib/metrics/aupro.py
  src/anomalib/metrics/auroc.py
  src/anomalib/metrics/f1_score.py
  src/anomalib/metrics/precision_recall_curve.py
  src/anomalib/metrics/pro.py
  src/anomalib/metrics/threshold/f1_adaptive_threshold.py
  src/anomalib/models/components/base/anomaly_module.py
  tests/unit/callbacks/metrics_configuration_callback/data/config-good-00.yaml
  tests/unit/callbacks/metrics_configuration_callback/data/config-good-01.yaml
  tests/unit/callbacks/metrics_configuration_callback/data/config-good-02-serialized.yaml
  tests/unit/callbacks/metrics_configuration_callback/data/config-good-02.yaml
  tests/unit/callbacks/metrics_configuration_callback/test_metrics_configuration_callback.py
  tests/unit/callbacks/test_normalization_callback.py
  tests/unit/metrics/test_precision_recall.py
Labels: Dependencies, Tests

#1842 🛠️ Update changelog
  CHANGELOG.md
Labels: Docs

#1852 Fix dobot notebook
  notebooks/500_use_cases/501_dobot/501a_training_a_model_with_cubes_from_a_robotic_arm.ipynb
Labels: Notebooks

#1825 Refactored-assert-statements-with-explicit-error-handling
  src/anomalib/callbacks/nncf/utils.py
  src/anomalib/data/base/dataset.py
  src/anomalib/data/base/video.py
  src/anomalib/data/depth/folder_3d.py
  src/anomalib/data/depth/mvtec_3d.py
  src/anomalib/data/errors.py
  src/anomalib/data/image/folder.py
  src/anomalib/data/image/kolektor.py
  src/anomalib/data/image/mvtec.py
  src/anomalib/data/utils/split.py
  src/anomalib/data/utils/synthetic.py
  src/anomalib/deploy/inferencers/openvino_inferencer.py
  src/anomalib/engine/engine.py
  src/anomalib/metrics/__init__.py
  src/anomalib/models/components/feature_extractors/torchfx.py
  src/anomalib/models/components/flow/all_in_one_block.py
  src/anomalib/models/image/cflow/lightning_model.py
  src/anomalib/models/image/csflow/lightning_model.py
  src/anomalib/models/image/efficient_ad/lightning_model.py
  src/anomalib/models/image/fastflow/lightning_model.py
  src/anomalib/models/image/ganomaly/lightning_model.py
  src/anomalib/models/image/padim/torch_model.py
  src/anomalib/models/image/reverse_distillation/lightning_model.py
  src/anomalib/models/image/uflow/feature_extraction.py
  src/anomalib/models/image/uflow/lightning_model.py
  src/anomalib/models/video/ai_vad/clip/model.py
  src/anomalib/models/video/ai_vad/density.py
  src/anomalib/models/video/ai_vad/features.py
  src/anomalib/utils/config.py
  src/anomalib/utils/visualization/image.py
  tests/helpers/data.py
Labels: Tests

#1856 Remove input_size argument from models #1827
  src/anomalib/models/image/cfa/lightning_model.py
  src/anomalib/models/image/cfa/torch_model.py
  src/anomalib/models/image/cflow/lightning_model.py
  src/anomalib/models/image/cflow/torch_model.py
  src/anomalib/models/image/csflow/lightning_model.py
  src/anomalib/models/image/fastflow/lightning_model.py
  src/anomalib/models/image/ganomaly/lightning_model.py
  src/anomalib/models/image/padim/lightning_model.py
  src/anomalib/models/image/padim/torch_model.py
  src/anomalib/models/image/patchcore/anomaly_map.py
  src/anomalib/models/image/patchcore/lightning_model.py
  src/anomalib/models/image/patchcore/torch_model.py
  src/anomalib/models/image/reverse_distillation/lightning_model.py
  src/anomalib/models/image/reverse_distillation/torch_model.py
  src/anomalib/models/image/stfpm/lightning_model.py
  src/anomalib/models/image/stfpm/torch_model.py
  src/anomalib/models/image/uflow/lightning_model.py
Labels: Documentation

#1808 Add requirements into `pyproject.toml` & Refactor anomalib install `get_requirements`
  pyproject.toml
  src/anomalib/cli/install.py
  src/anomalib/cli/utils/installation.py
  tests/unit/cli/test_installation.py
Labels: Setup, Tests

#1866 🛠️ Ensure images are loaded in RGB format
  src/anomalib/data/utils/image.py
Labels: Enhancement, Requires Changes

#1865 🚀 Allow validation splits from training data
  src/anomalib/data/base/datamodule.py
  src/anomalib/data/utils/split.py
Labels: Enhancement, Requires Changes

#1886 🐞 Fix CLI config and update the docs.
  docs/source/snippets/config/data/image/folder/classification/cli/default.yaml
  docs/source/snippets/config/data/image/folder/segmentation/cli/normal_and_synthetic.yaml
  src/anomalib/data/base/dataset.py
  src/anomalib/data/image/btech.py
  src/anomalib/data/image/folder.py
  src/anomalib/data/image/mvtec.py
  src/anomalib/data/video/shanghaitech.py
  src/anomalib/data/video/ucsd_ped.py
  src/anomalib/utils/visualization/image.py
Labels: Docs

#1899 Update CHANGELOG.md
  CHANGELOG.md
Labels: Docs

#1838 📚 Add action to check broken links
  .github/pull_request_template.md
  .github/workflows/nightly.yml
  .github/workflows/pre_merge.yml
  CONTRIBUTING.md
  README.md
  docs/source/markdown/announcements/recognition.md
  docs/source/markdown/get_started/anomalib.md
  notebooks/100_datamodules/README.md
  notebooks/500_use_cases/501_dobot/README.md
  notebooks/README.md
  pyproject.toml
  src/anomalib/models/image/cfa/README.md
  src/anomalib/models/image/cflow/README.md
  src/anomalib/models/image/csflow/README.md
  src/anomalib/models/image/draem/README.md
  src/anomalib/models/image/dsr/README.md
  src/anomalib/models/image/fastflow/README.md
  src/anomalib/models/image/ganomaly/README.md
  src/anomalib/models/image/padim/README.md
  src/anomalib/models/image/patchcore/README.md
  src/anomalib/models/image/reverse_distillation/README.md
  src/anomalib/models/image/stfpm/README.md
  src/anomalib/models/image/uflow/README.md
  src/anomalib/models/image/winclip/README.md
Labels: CI, Setup, Notebooks, Docs

#1907 🔒 Bump onnx version as the previous version caused security issues
  .github/pull_request_template.md
  .github/workflows/nightly.yml
  .github/workflows/pre_merge.yml
  CONTRIBUTING.md
  README.md
  docs/source/markdown/announcements/recognition.md
  docs/source/markdown/get_started/anomalib.md
  notebooks/100_datamodules/README.md
  notebooks/500_use_cases/501_dobot/README.md
  notebooks/README.md
  pyproject.toml
  requirements/openvino.txt
  src/anomalib/deploy/inferencers/openvino_inferencer.py
  src/anomalib/deploy/inferencers/torch_inferencer.py
  src/anomalib/models/image/cfa/README.md
  src/anomalib/models/image/cflow/README.md
  src/anomalib/models/image/csflow/README.md
  src/anomalib/models/image/draem/README.md
  src/anomalib/models/image/dsr/README.md
  src/anomalib/models/image/fastflow/README.md
  src/anomalib/models/image/ganomaly/README.md
  src/anomalib/models/image/padim/README.md
  src/anomalib/models/image/patchcore/README.md
  src/anomalib/models/image/reverse_distillation/README.md
  src/anomalib/models/image/stfpm/README.md
  src/anomalib/models/image/uflow/README.md
  src/anomalib/models/image/winclip/README.md
Labels: Dependencies, Setup

#1912 🐞 Fix publish workflow
  .github/workflows/publish.yml
Labels: CI

#1905 Merge v1.0.1 to main
  .github/workflows/publish.yml
  CHANGELOG.md
  pyproject.toml
  requirements/openvino.txt
  src/anomalib/__init__.py
  src/anomalib/callbacks/metrics.py
  src/anomalib/data/base/video.py
  src/anomalib/data/utils/image.py
  src/anomalib/engine/engine.py
  src/anomalib/metrics/__init__.py
  tests/unit/data/base/video.py
  tests/unit/data/video/test_avenue.py
  tests/unit/data/video/test_shanghaitech.py
  tests/unit/data/video/test_ucsdped.py
Labels: Dependencies, CI, Setup, Tests, Docs

#1915 🐞 Disable tty prompt for gpg signing
  .github/workflows/publish.yml
Labels: CI

#1916 Update publish.yml
  .github/workflows/publish.yml
Labels: CI

#1914 Create dependabot.yml
  .github/dependabot.yml
Labels: CI
