Repository openvinotoolkit/anomalib, pull requests merged in 2024-02, with the labels that each got.

#1694 📚 Add docs for the depth data
  docs/source/markdown/guides/reference/data/depth/folder_3d.md
  docs/source/markdown/guides/reference/data/depth/index.md
  docs/source/markdown/guides/reference/data/depth/mvtec_3d.md
  src/anomalib/data/depth/mvtec_3d.py
Labels: Docs

#1695 📚 Add docs for the U-Flow model
  docs/source/markdown/guides/reference/models/image/index.md
  docs/source/markdown/guides/reference/models/image/uflow.md
Labels: Docs

#1700 📚 Add docs for the DSR model
  docs/source/markdown/guides/reference/models/image/index.md
  src/anomalib/models/image/dsr/torch_model.py
Labels: Docs

#1689 📚 Add news section to docs
  docs/source/index.md
  docs/source/markdown/announcements/engagement.md
  docs/source/markdown/announcements/recognition.md
Labels: Docs

#1709 📚 Update the `CHANGELOG.md` file
  CHANGELOG.md
  src/anomalib/__init__.py
Labels: Docs

#1716 📚 Add `GOVERNANCE.md`file
  GOVERNANCE.md
  MAINTAINERS.md
  requirements/base.txt
Labels: Dependencies, Docs

#1710 🔒 Add bandit checks to pre-commit
  .pre-commit-config.yaml
  pyproject.toml
  src/anomalib/callbacks/nncf/callback.py
Labels: Setup

#1708 📚 Add sdd and contributing guidelines to the documentation
  .github/pull_request_template.md
  docs/source/_static/images/guides/developer/sdd/cli.png
  docs/source/_static/images/guides/developer/sdd/datamodule.png
  docs/source/_static/images/guides/developer/sdd/engine.png
  docs/source/_static/images/guides/developer/sdd/high_level_architecture.png
  docs/source/_static/images/guides/developer/sdd/high_level_workflow.png
  docs/source/_static/images/guides/developer/sdd/model.png
  docs/source/_static/images/guides/developer/sdd/visualizer.png
  docs/source/markdown/guides/developer/code_review_checklist.md
  docs/source/markdown/guides/developer/contributing.md
  docs/source/markdown/guides/developer/index.md
  docs/source/markdown/guides/developer/sdd.md
Labels: CI, Docs

#1687 🔒 Add GPG keys to sign the python wheel to publish on pypi
  .github/workflows/publish.yml
Labels: CI

#1678 Fixed OpenVINO notebooks
  notebooks/000_getting_started/001_getting_started.ipynb
  notebooks/500_use_cases/501_dobot/501a_training_a_model_with_cubes_from_a_robotic_arm.ipynb
Labels: Notebooks

#1681 Test OpenVINO export
  tests/integration/model/test_models.py
Labels: Tests

#1741 🔨 Allow string types in CLI enums
  docs/source/snippets/config/data/image/folder/classification/cli/default.yaml
  docs/source/snippets/config/data/image/folder/classification/cli/normal.yaml
  docs/source/snippets/config/data/image/folder/classification/cli/normal_and_synthetic.yaml
  docs/source/snippets/config/data/image/folder/segmentation/cli/normal_and_synthetic.yaml
  src/anomalib/cli/cli.py
  src/anomalib/data/base/datamodule.py
  src/anomalib/data/depth/folder_3d.py
  src/anomalib/data/depth/mvtec_3d.py
  src/anomalib/data/image/btech.py
  src/anomalib/data/image/folder.py
  src/anomalib/data/image/kolektor.py
  src/anomalib/data/image/mvtec.py
  src/anomalib/data/image/visa.py
  src/anomalib/data/video/avenue.py
  src/anomalib/engine/engine.py
  src/configs/data/avenue.yaml
  src/configs/data/btech.yaml
  src/configs/data/folder.yaml
  src/configs/data/kolektor.yaml
  src/configs/data/mvtec.yaml
  src/configs/data/mvtec_3d.yaml
  src/configs/data/visa.yaml
  src/configs/model/ai_vad.yaml
  src/configs/model/rkde.yaml
Labels: Docs

#1753 📚 Documentation update: fix a typo of README
  README.md
Labels: Docs

#1738 💥 Create a script to upgrade v0.* configuration format to v1
  docs/source/index.md
  docs/source/markdown/get_started/migration.md
  src/anomalib/cli/cli.py
  src/anomalib/data/utils/transforms.py
  src/anomalib/models/__init__.py
  tests/integration/tools/upgrade/expected_draem_v1.yaml
  tests/integration/tools/upgrade/original_draem_v0.yaml
  tests/integration/tools/upgrade/test_config.py
  tests/unit/data/utils/test_transforms.py
  tools/upgrade/__init__.py
  tools/upgrade/config.py
Labels: Tests, Tools, Docs

#1761 🔨 Remove CDF normalization and temporarily remove pipelines.
  docs/source/markdown/guides/reference/pipelines/benchmarking.md
  docs/source/markdown/guides/reference/pipelines/hpo.md
  docs/source/markdown/guides/reference/pipelines/index.md
  src/anomalib/callbacks/normalization/__init__.py
  src/anomalib/callbacks/normalization/cdf_normalization.py
  src/anomalib/callbacks/normalization/utils.py
  src/anomalib/deploy/inferencers/base_inferencer.py
  src/anomalib/pipelines/__init__.py
  src/anomalib/pipelines/benchmarking/__init__.py
  src/anomalib/pipelines/benchmarking/benchmark.py
  src/anomalib/pipelines/benchmarking/utils.py
  src/anomalib/pipelines/hpo/__init__.py
  src/anomalib/pipelines/hpo/config.py
  src/anomalib/pipelines/hpo/runners.py
  src/anomalib/pipelines/hpo/sweep.py
  src/anomalib/pipelines/sweep/__init__.py
  src/anomalib/pipelines/sweep/config.py
  src/anomalib/pipelines/sweep/helpers/__init__.py
  src/anomalib/pipelines/sweep/helpers/inference.py
  src/anomalib/utils/normalization/__init__.py
  src/anomalib/utils/normalization/cdf.py
  tests/unit/callbacks/test_normalization_callback.py
  tests/unit/pipelines/__init__.py
  tests/unit/pipelines/sweep/__init__.py
  tests/unit/pipelines/sweep/test_config.py
  tests/unit/pipelines/sweep/test_throughput.py
  tools/benchmarking/README.md
  tools/benchmarking/__init__.py
  tools/benchmarking/benchmark.py
  tools/benchmarking/benchmark_params.yaml
  tools/hpo/__init__.py
  tools/hpo/configs/comet.yaml
  tools/hpo/configs/wandb.yaml
  tools/hpo/sweep.py
Labels: Tests, Benchmarking, HPO, Tools, Docs

#1748 🚀 Remove pl dependency from Anomalib CLI & Add install subcommand
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  docs/source/markdown/guides/developer/contributing.md
  requirements/core.txt
  requirements/dev.txt
  requirements/installer.txt
  setup.py
  src/anomalib/cli/cli.py
  src/anomalib/cli/install.py
  src/anomalib/cli/utils/help_formatter.py
  src/anomalib/cli/utils/installation.py
  src/anomalib/cli/utils/openvino.py
  src/anomalib/loggers/__init__.py
  tests/integration/cli/test_cli.py
  tests/unit/cli/test_help_formatter.py
  tests/unit/cli/test_installation.py
  tox.ini
Labels: Dependencies, CI, Setup, Tests, Docs

#1751 📚 Add Secure development knowledge section to `SECURE.md` file
  SECURITY.md
Labels: Docs

#1769 🔨 Add default metrics to Engine
  notebooks/000_getting_started/001_getting_started.ipynb
  src/anomalib/engine/engine.py
  tests/integration/model/test_models.py
Labels: Tests, Notebooks

#1776 🔨 Rename DynamicBufferModule to DynamicBufferMixin
  CHANGELOG.md
  src/anomalib/models/components/__init__.py
  src/anomalib/models/components/base/__init__.py
  src/anomalib/models/components/base/dynamic_buffer.py
  src/anomalib/models/components/cluster/gmm.py
  src/anomalib/models/components/dimensionality_reduction/pca.py
  src/anomalib/models/components/stats/kde.py
  src/anomalib/models/image/cfa/torch_model.py
  src/anomalib/models/image/dfm/torch_model.py
  src/anomalib/models/image/patchcore/torch_model.py
  src/anomalib/models/image/winclip/torch_model.py
  src/anomalib/models/video/ai_vad/density.py
  tests/unit/models/components/base/test_dynamic_buffer_mixin.py
Labels: Tests, Docs

#1786 🔨 📄 Change config location
  MANIFEST.in
  notebooks/300_benchmarking/301_benchmarking.ipynb
  notebooks/300_benchmarking/302_hpo_wandb.ipynb
  notebooks/300_benchmarking/README.md
  setup.py
  src/anomalib/configs/README.md
  src/anomalib/configs/data/avenue.yaml
  src/anomalib/configs/data/btech.yaml
  src/anomalib/configs/data/folder.yaml
  src/anomalib/configs/data/kolektor.yaml
  src/anomalib/configs/data/mvtec.yaml
  src/anomalib/configs/data/mvtec_3d.yaml
  src/anomalib/configs/data/shanghaitec.yaml
  src/anomalib/configs/data/ucsd_ped.yaml
  src/anomalib/configs/data/visa.yaml
  src/anomalib/configs/model/ai_vad.yaml
  src/anomalib/configs/model/cfa.yaml
  src/anomalib/configs/model/cflow.yaml
  src/anomalib/configs/model/csflow.yaml
  src/anomalib/configs/model/dfkde.yaml
  src/anomalib/configs/model/dfm.yaml
  src/anomalib/configs/model/draem.yaml
  src/anomalib/configs/model/dsr.yaml
  src/anomalib/configs/model/efficient_ad.yaml
  src/anomalib/configs/model/fastflow.yaml
  src/anomalib/configs/model/ganomaly.yaml
  src/anomalib/configs/model/padim.yaml
  src/anomalib/configs/model/patchcore.yaml
  src/anomalib/configs/model/reverse_distillation.yaml
  src/anomalib/configs/model/rkde.yaml
  src/anomalib/configs/model/stfpm.yaml
  src/anomalib/configs/model/uflow.yaml
  tests/conftest.py
  tox.ini
Labels: CI, Setup, Tests, Notebooks

#1788 🩹Minor fixes
  src/anomalib/callbacks/__init__.py
  src/anomalib/callbacks/thresholding.py
  src/anomalib/cli/cli.py
  src/anomalib/loggers/__init__.py
  src/anomalib/utils/config.py
  tests/unit/loggers/__init__.py
  tests/unit/loggers/test_get_logger.py
Labels: Tests

#1789 🔨 📄 Change config location 2
  MANIFEST.in
  configs/README.md
  configs/data/avenue.yaml
  configs/data/btech.yaml
  configs/data/folder.yaml
  configs/data/kolektor.yaml
  configs/data/mvtec.yaml
  configs/data/mvtec_3d.yaml
  configs/data/shanghaitec.yaml
  configs/data/ucsd_ped.yaml
  configs/data/visa.yaml
  configs/model/ai_vad.yaml
  configs/model/cfa.yaml
  configs/model/cflow.yaml
  configs/model/csflow.yaml
  configs/model/dfkde.yaml
  configs/model/dfm.yaml
  configs/model/draem.yaml
  configs/model/dsr.yaml
  configs/model/efficient_ad.yaml
  configs/model/fastflow.yaml
  configs/model/ganomaly.yaml
  configs/model/padim.yaml
  configs/model/patchcore.yaml
  configs/model/reverse_distillation.yaml
  configs/model/rkde.yaml
  configs/model/stfpm.yaml
  configs/model/uflow.yaml
  tests/conftest.py
Labels: Setup, Tests

#1790 📚 Update the installation instructions
  README.md
  docs/source/markdown/get_started/anomalib.md
  docs/source/snippets/data/image/folder/classification/default.txt
  docs/source/snippets/data/image/folder/classification/normal.txt
  docs/source/snippets/data/image/folder/classification/normal_and_synthetic.txt
  docs/source/snippets/data/image/folder/segmentation/default.txt
  docs/source/snippets/data/image/folder/segmentation/normal.txt
  docs/source/snippets/data/image/folder/segmentation/normal_and_synthetic.txt
  docs/source/snippets/install/anomalib_help.txt
  docs/source/snippets/install/anomalib_install.txt
  docs/source/snippets/install/anomalib_install_help.txt
  notebooks/000_getting_started/001_getting_started.ipynb
Labels: Notebooks, Docs

#1791 ⏳ Restore Images
  docs/source/images/cfa/architecture.png
  docs/source/images/cfa/results/0.png
  docs/source/images/cfa/results/1.png
  docs/source/images/cfa/results/2.png
  docs/source/images/cflow/architecture.jpg
  docs/source/images/cflow/results/0.png
  docs/source/images/cflow/results/1.png
  docs/source/images/cflow/results/2.png
  docs/source/images/cs_flow/architecture1.jpg
  docs/source/images/cs_flow/architecture2.jpg
  docs/source/images/cs_flow/architecture3.jpg
  docs/source/images/draem/architecture.png
  docs/source/images/fastflow/architecture.jpg
  docs/source/images/fastflow/results/0.png
  docs/source/images/fastflow/results/1.png
  docs/source/images/fastflow/results/2.png
  docs/source/images/ganomaly/architecture.jpg
  docs/source/images/padim/architecture.jpg
  docs/source/images/padim/results/0.png
  docs/source/images/padim/results/1.png
  docs/source/images/padim/results/2.png
  docs/source/images/patchcore/architecture.jpg
  docs/source/images/patchcore/results/0.png
  docs/source/images/patchcore/results/1.png
  docs/source/images/patchcore/results/2.png
  docs/source/images/reverse_distillation/architecture.png
  docs/source/images/reverse_distillation/results/0.png
  docs/source/images/reverse_distillation/results/1.png
  docs/source/images/reverse_distillation/results/2.png
  docs/source/images/stfpm/architecture.jpg
  docs/source/images/stfpm/results/0.png
  docs/source/images/stfpm/results/1.png
  docs/source/images/stfpm/results/2.png
  src/anomalib/models/image/cfa/README.md
  src/anomalib/models/image/cflow/README.md
  src/anomalib/models/image/csflow/README.md
  src/anomalib/models/image/draem/README.md
  src/anomalib/models/image/dsr/README.md
  src/anomalib/models/image/fastflow/README.md
  src/anomalib/models/image/ganomaly/README.md
  src/anomalib/models/image/padim/README.md
  src/anomalib/models/image/patchcore/README.md
  src/anomalib/models/image/reverse_distillation/README.md
  src/anomalib/models/image/stfpm/README.md
  src/anomalib/models/image/uflow/README.md
Labels: Docs

#1771 Enable image-level normalization flag
  src/anomalib/utils/post_processing.py
  src/anomalib/utils/visualization/image.py
  tests/unit/metrics/aupro/aupro_reference.py
Labels: Tests

#1795 Add test case to model transform tests
  tests/unit/engine/test_setup_transform.py
Labels: Tests

#1796 Cleanup notebooks
  notebooks/000_getting_started/001_getting_started.ipynb
  notebooks/200_models/201_fastflow.ipynb
Labels: Notebooks

#1797 🔨 Remove access denied error
  src/anomalib/data/utils/path.py
  tests/unit/data/utils/test_image.py
  tests/unit/data/utils/test_path.py
Labels: Tests

#1773 🔨 Refactor Engine args: Create workspace directory from API
  configs/data/folder.yaml
  notebooks/100_datamodules/103_folder.ipynb
  src/anomalib/callbacks/__init__.py
  src/anomalib/callbacks/visualizer.py
  src/anomalib/cli/cli.py
  src/anomalib/data/base/datamodule.py
  src/anomalib/data/base/dataset.py
  src/anomalib/data/depth/folder_3d.py
  src/anomalib/data/image/folder.py
  src/anomalib/data/image/mvtec.py
  src/anomalib/data/utils/image.py
  src/anomalib/engine/engine.py
  src/anomalib/models/__init__.py
  src/anomalib/models/components/base/anomaly_module.py
  src/anomalib/utils/config.py
  src/anomalib/utils/path.py
  src/anomalib/utils/visualization/image.py
  tests/conftest.py
  tests/integration/cli/test_cli.py
  tests/integration/model/test_models.py
  tests/integration/tools/test_gradio_entrypoint.py
  tests/integration/tools/test_openvino_entrypoint.py
  tests/integration/tools/test_torch_entrypoint.py
  tests/unit/data/image/test_folder.py
  tests/unit/data/image/test_folder_3d.py
  tests/unit/data/utils/test_synthetic.py
  tests/unit/utils/callbacks/visualizer_callback/test_visualizer.py
  tests/unit/utils/test_visualizer.py
  tools/inference/lightning_inference.py
Labels: Inference, Tests, Tools, Notebooks

#1799 Version bump
  CHANGELOG.md
  src/anomalib/__init__.py
Labels: Docs
